[2021-09-02 10:06] robvdpol commented on #212
Portable version 2.4.0 released.

[2021-09-02 10:06] #212 closed

[2021-09-03 06:45] robvdpol commented on #213
Could you please try the portable release to see whether it has the same problem?

[2021-09-03 15:38] Oyro commented on #213
Hello! I checked out the portable 2.4.0 version, same issue.

[2021-09-04 14:15] Matrix20085 opened #221 "[FEATURE] Ability to save and load miltiple layouts"
**Is your feature request related to a problem? Please describe.**
Depending on if I am watching FP, Q, or GP I use a different layout. As of now, I am going into the folder and renaming the files. This works, but having the ability to chose a file when "Open ...." is clicked would be amazing.

**Describe the solution you'd like**
When clicking "Open ...." or "Save layout" file browsers should dis

[2021-09-04 23:02] maantje commented on #213
Same error here. App used to work fine, reinstalled windows and now getting this error when trying to start RaceControl.

Portable version also does not work here.

[2021-09-05 10:33] maantje commented on #213
@Oyro I managed to get it to work, can you check if this fixes it for you too?

Press Windows key -> type "Manage optional features" -> press Enter key -> click "Add a feature" -> Add Media Feature Pack -> Reboot.

After rebooting Race Control opens correctly again for me.

[2021-09-05 11:13] Oyro commented on #213
@maantje This fixed the issue for me! I had no idea "Feature" settings were a thing in windows... Thanks!

[2021-09-05 11:13] #213 closed

[2021-09-05 11:52] maantje commented on #213
@Oyro Great to hear you got it work! I think this issue should stay open until we updated the readme or fixed it another way.

I did some more digging and and we got this issue because we installed a N version of Windows which does not come by default with the Media Feature Pack.

@robvdpol Should we add a step in the Manual installation section about installing the [Media Feature Pack](https://su

[2021-09-07 07:54] robvdpol commented on #221
I think you can simply use the import button for this. Just import the layout-file you want to use for a specific session, you won't have to keep renaming files that way.

But I agree it would be nice to have multiple layouts in a single file, I'll try to look into it.

[2021-09-07 07:58] robvdpol commented on #213
Thanks everyone.

@maantje I have updated the readme.

[2021-09-10 20:21] dogmatic69 opened #224 "[BUG]"
**Describe the bug**
Cant watch anything from race control (web works though)

**To Reproduce**
Steps to reproduce the behavior:
1. try play any stream
2. errr:
This is usually a temporary error during hostname resolution and means that the local server did not receive a response from an authoritative server. (f1prodlive.akamaized.net:443)

**Expected behavior**
watch a stream

**Desktop (please c

[2021-09-12 09:32] SuRGeoNix commented on #224
It seems that you have issues with your DNS configuration. Maybe it is just a firewall issue so try to disable your firewall and see if it works, if it does just add RaceControl to your firewall as allowed/exception. I'm not sure what is the smartdns but might is the issue as well.

[2021-09-13 06:38] dogmatic69 commented on #224
No firewall issues and this is intermittent.

I doubt it has anything to do with smartdns because while it does not work on race control I can still play via the web.

[2021-09-24 14:29] timfrankentwf commented on #209
I am currently working on this, would be nice to have an option for a Dark theme.
It must be said that I have no real experience with C# and mostly do Embedded Systems stuff.
Not sure if @robvdpol has done any work on this yet, it's not my plan to push the agenda unwillingly.

So far I am able to create Resource Dictionaries and change the colours.
It's far form perfect, need to change some parts

[2021-09-24 20:33] timfrankentwf commented on #209
After some time I managed to get most stuff working.
Look like there are already themes made that fit, for now I only used the DarkTheme
Shout out to https://github.com/AngryCarrot789/WPFDarkTheme

If you check/uncheck the dark-theme checkbox it will update the UI and save it for the next time.

I will push the commits and see if I can open a pull-request.

![afbeelding](https://user-images.github

[2021-09-26 11:40] Romegues commented on #192
I'm having the exact same problem, worked during Monza for some reason but now won't work, the error is:
[code]

[2021-09-26 17:43] antonpolishko commented on #192
Same issue happens during RussianGP. During Monza everything worked fine

Subscription type Pro
Country US
Using VPN or proxy? No

[2021-09-26 18:15] jasonlitka opened #230 "Force Max Resolution/Resolution Selector"
I've tried to download the 2021 Russian Grand Prix twice now and I'm getting a 512x288 file, around 2GB.  I checked the web site and there is a 1080p stream available.  This happened a few weeks back too but on the second attempt I ended up with the 1080p file.

Can you add something so that we can manually select the stream before it downloads?

[2021-09-26 21:06] frostedpanda commented on #230
I'm having the exact same issue. Tried downloading it 3 times and got the 288p file each time.

[2021-09-27 00:40] willwagner602 commented on #230
Confirmed same issue with stream on internal viewer, works fine in both MPC and VLC.

[2021-09-27 01:32] AresDraco commented on #230
Confirmed, just downloaded Russian Grand PRixx on 512x288

[2021-09-27 03:13] m4ha7m4 commented on #230
Same issue on multiple computers.  When using internal player or downloading files the video is always on the lowest quality stream, even when selecting a different quality.  MPV, VLC

Of note, this is ONLY for the Russian Grand Prix "RACE" Sessions.  Practice, qualifying, pre-race, post-race all showed correct quality.  All "Race" session streams from the 2021 Italian Grand Prix were full quality

[2021-09-27 07:25] robvdpol commented on #230
Strange, it should always pick the highest resolution video stream. I'll look into it.

[2021-09-27 07:28] robvdpol commented on #192
Strange that some of you are having this issue, it seems like a fairly straight forward timeout on the F1TV API. Maybe there's some kind of geo restriction at play here?

[2021-09-29 06:33] Ainson opened #231 "[BUG] Internal Media Player won't start, crashes RaceControl"
Clicking Watch will launch a tiny black window, freezing and finally crashing RaceControl (A message box comes up that RaceControl has stopped working). Everything else works perfectly.

I can't find anything relevant in the log.

I've disabled Firewall and Anti-virus without help.

https://i.imgur.com/uONjgnX.jpg

Windows 7 x64
RaceControl 2.4.0

- Subscription type Pro
- Using VPN
- Latest .NET

[2021-09-30 12:43] SuRGeoNix commented on #231
I'm afraid that an issue with Flyleaf internal player that it doesn't fully support Windows 7. It would be possible to work by disabling the video acceleration (but currently RaceControl does not expose Flyleaf's confiiguration). You can confirm that the issue is this by downloading [flyleaf](https://github.com/SuRGeoNix/Flyleaf/releases/latest) and trying to disable the video acceleartion(Right c

[2021-09-30 14:39] Ainson commented on #231
I downloaded and tried FlyLeafPlayer, and it plays the F1TV url, but only if hardware acceleration is off.

With hardware acceleration on, it doesn't crash or give any error messages, it just doesn't play.

I tried to copy the FlyLeafPlayer config file Flyleaf.Config.xml to RaceControl folder, but no luck.

(Graphics card is AMD Radeon HD 7700)

That's it then?

[2021-09-30 16:16] SuRGeoNix commented on #231
Yes, that's Flyleaf's problem that will not fall back to auto disable the video acceleration. The config file is not supported by RaceControl, its the application responsibly to maintain it. You should consider updating your Win 7, Rob should consider adding support for Flyleaf's config, and I should consider adding full support for Win 7 :)

[2021-09-30 16:24] Ainson commented on #231
Ok, no biggie. I just wanted to have sync on several streams and thought maybe the internal player would sort it.

I know there's a sync feature for MPV, but that's not working so good here.

Maybe I'll look to do something manually with Autohotkey instead, or download videos first and use Awesome Video Player.

Thanks.

[2021-10-05 17:06] timfrankentwf commented on #36
Maybe I should look into [electron](https://www.electronjs.org/), which is just running a webApp inside a browser. So it will be cross compatible. Even Slack and Visual Code is made with it, those seem pretty decent.

[2021-10-08 08:58] brinkie2004 opened #234 "[BUG] The type initialized for 'FlyleafLib.Master' threw an exception"
Was working fine last race, but now throws an error at startup:
![image](https://user-images.githubusercontent.com/11051677/136528497-c8ddb57a-9b2f-4983-aec3-926cca2c3c96.png)

Reinstall doesn't resolve the issue. Maybe a restart in between will help, but can't test that right now.

[2021-10-08 09:23] tioslash opened #235 "[BUG] Onboard cameras issue when watching using MPV"
**Describe the bug**
When using MPV player all onboard streams automatically start with the default broadcast audio instead of the radio comms channel and as soon as I change it the player freezes, resets the synchronizing to the beginning of the session of the live event and it keeps there showing "Auto sync 5.00". This makes it impossible to keep several streams in sync like before. Not sure whe

[2021-10-08 09:27] Daniel-42 opened #236 "[BUG] MPV Driver views wrong audio"
When I open a saved layout in mpv the driver views open with an incorrect audiotrack: 2/7 instead of 1/7

For the internal viewer the audiotracks are correct.

In the settings json the audiotrack for the driver views is 'obc'

**To Reproduce**

- Save a layout that has driver views
- Open it in mpv
- Driver views will have the full commentary audio track (2/7) selected

**Expected behavior**

- Dr

[2021-10-08 13:44] frenym2021 opened #237 "[FEATURE] Pre-select video quality"
Today the video quality defaults to High. It is not possible to change the quality to a lower quality until the video stream has been established. When on a bad upstream connection, like mobile or otherwise shared, the viewer might be unable to connect at High video quality (Internal viewer, but I think it is similar with the VLC/MPV). It would therefore be desireable to either set the video quali

[2021-10-08 13:46] frenym2021 opened #238 "[FEATURE] Auto-mute audio when mulitple viewers are opened"
When opening both main video stream and other streams such as driver tracker or driver cam at the same time, it could be useful to have the sound of subsequent windows after the first be auto-muted. So if there is another window open with sound then set volume to 0 on other streams.

[2021-10-08 14:45] pironic opened #239 "[FEATURE] Media Control Key Shortcuts to Play/Pause/Forward/Back"
**Is your feature request related to a problem? Please describe.**
I'm listening to the streams at work and need to pause when a phone call comes in. Switching applications and finding the pause button is cumbersome.

**Describe the solution you'd like**
My keyboard includes play/pause buttons and it would be great if we could hook into the windows media key shortcuts to listen to those key-presse

[2021-10-09 12:02] Spexxel opened #240 "[FEATURE] Change "Resizable window" behaviour when going or exiting fullscreen (enable/disable)"
**Is your feature request related to a problem? Please describe.**
When going fullscreen the "Resizable window" checkbox gets unchecked. When you exit fullscreen it stays unchecked. This is annoying when you go fullscreen on a window but after want to put it in a corner again.

It's also annoying when you use windows key + arrows to move the window around but accidently make it fullscreen which ca

[2021-10-09 12:37] anarchomushroom opened #241 "[BUG] Syncing with multiple views causes streams to freeze indefinitely"
**Describe the bug**
Using the sync feature to sync up views causes all streams to freeze. Player buttons don't seem to have any input or effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Turkish GP Qualifying'
2. Play stream 'World Feed', Live Timing, Danny Ric, Max Verstappen
3. Press button 'sync' (I used the S key)
4. See error

**Expected behavior**
Streams to sync up with

[2021-10-11 07:45] victor-koch opened #242 "Crash when changing audio devive [BUG]"
**Describe the bug**
Stream will either freeze, or entire application crash when changing system audio output. When testing this today on the race replay the issue was not always there! Maybe it is more sensitive to the live stream, since it did crash for me multiple times yesterday due to my headphones being weird and disconnecting a few times. This should not be due to my headphones glitching, s

[2021-10-15 19:37] SuRGeoNix commented on #242
Hey @victor-koch, this is a known [duplicate issue](https://github.com/robvdpol/RaceControl/issues/169) with Bluetooth audio speakers. Unfortunately, still not fixed.

[2021-10-19 09:38] rickschwarz opened #243 "Question"
Hello Rob,

Are you still maintaining Race Control ?

[2021-10-19 10:05] robvdpol commented on #243
Yes, but I currently don't have a lot of time since I just became a father. However I should have some more time soon :)

Are there any big issues you're experiencing at the moment?

[2021-10-19 10:12] rickschwarz commented on #243
OK, I understand.

Congratulations !!

Van: Rob ***@***.***>
Verzonden: dinsdag 19 oktober 2021 12:06
Aan: robvdpol/RaceControl ***@***.***>
CC: rickschwarz ***@***.***>; Author ***@***.***>
Onderwerp: Re: [robvdpol/RaceControl] Question (Issue #243)

Yes, but I currently don't have a lot of time since I just became a father. However I should have some more time soon :)

Are there any big issues y

[2021-10-19 10:15] rickschwarz commented on #243
Big issue
Stream will either freeze, or entire application crash when changing system audio output in the MPV player

[2021-10-20 18:29] rgiunta opened #244 "Question Regarding Stream Audio when Downloaded"
Hi, I just downloaded this app and it's awesome, but for some reason when I download any of the event sessions to my PC, the audio from the announcers does not transfer over. It's present when I watch the session from the Race Control app, but when I download it the announcer audio is missing. The background audio of the cars etc. is still there, but not the important announcer audio. Is there a s

[2021-10-20 18:58] #244 closed, assigned to nobody

[2021-10-21 18:48] JvDrunen opened #245 "[BUG] racecontrol marked as virus."
**Describe the bug**
windows defender marks racecontrol.exe as a virus:
Behavior:Win32/SuspVaultEnumerate.C!cl

**To Reproduce**
Steps to reproduce the behavior:
download portable version (2.4.1)
start
defender blocks the execution after a minute

**Expected behavior**
no virus message

**Screenshots**
![image](https://user-images.githubusercontent.com/30151600/138338117-12620be9-1e3d-43be-b3fd-1d

[2021-10-22 10:52] RChesterton opened #246 "[BUG] Exception thrown upon launch on Windows 11"
**Describe the bug**
When launching the app, exception is thrown since upgrading to Windows 11.  "RC" log remains onscreen and app never loads.  Have to terminate race control using task manager.

Tried reinstalling .net Desktop and RaceControl, didn't help.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Windows 11
2. Launch Race Control

**Expected behavior**
I expected Race Contro

[2021-10-22 11:27] #246 closed, assigned to robvdpol

[2021-10-22 16:24] flipjj opened #247 "[BUG]"
Similar to https://github.com/robvdpol/RaceControl/issues/236, but when you correct the audio to 1/7 (onboard audio) from 2/7 (world feed) with the MPV sync on, the stream goes to 5.00 sync speed and freeze, never to recover

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any live session with MPV sync on
2. Play stream any onboard
3. Press button play, change audio to 1/7 from 2/8
4.

[2021-10-22 16:26] loord617 opened #248 "[BUG] Changing quality ferezes and its impossible to do it"
I've been having this problem fast 2 months. When i ty to switch quality of the stream it freezes then crashes its impossible to change the quality.  I have 2.4.1 version but it also crashed before

[2021-10-23 11:48] boezi opened #249 "[BUG] Windows 11 - after installing .NET 5.0.0 or 5.0.11 the RaceControl.msi keeps asking to install .NET"
[BUG] Windows 11 - after installing .NET 5.0.0 or 5.0.11 the RaceControl.msi keeps asking to install .NET

**To Reproduce**
Steps to reproduce the behavior:
1. Download x64 .NET Desktop Runtime 5.0.0 (or 5.0.11)
2. Install .NET Desktop Runtime 5.0.0 (or 5.0.11)
3. Install RaceControl.msi (either Run As Administrator, or without)
4. Get message to install x64 .NET Runtime, with option top download

[2021-10-23 21:14] 6th-avenue opened #250 "Internal player audio lags several seconds on driver video [BUG]"
Thanks for creating this wonderful program!

When I watch an F1 session I normally have the World Feed on full-screen on 1 monitor and watch a driver video on a second monitor, both with the internal player and the sessions synced up.
The audio from the driver video seems to lag with the video as the engineer's comments always seem to be delayed compared to what you see happen on the track.
Commen

[2021-10-24 19:01] Trevorrm16 opened #251 "[BUG]"
**Describe the bug**
I tried to open Race Control and got stuck at the login screen. Waited for a bit, then an error said "Operation Timed Out". Tried manually typing my username and password in. Internet's fine, updated from 2.4.0 to 2.4.1 thinking that would work, it didn't. Kinda sucks as the race is just about to start.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Try

[2021-10-25 19:31] #250 closed, assigned to robvdpol

[2021-10-27 09:35] #235 closed, assigned to robvdpol

[2021-10-27 09:36] #236 closed, assigned to robvdpol

[2021-10-27 10:55] #243 closed, assigned to robvdpol

[2021-10-30 00:18] roniel06 commented on #251
@Trevorrm16  I just logged in without any problem. Please provide the log files if possible.

[2021-10-30 08:54] boezi commented on #249
Forgot to mention; this was a clean install of Windows 11 (so, no upgrade where one could keep apps)

[2021-10-30 12:10] boezi commented on #249
My "windowsdesktop-runtime-5.0.11-win-x64.exe" should have been 53Mb, but only was 25Mb. Apparently I renamed the runtime version during move. Your program is cool (and unworthy of this reported bug)

[2021-10-30 12:10] #249 closed

[2021-10-30 23:54] Trevorrm16 commented on #251
Yeah I was able to log in as well just now. Must've been something on my end. Sorry about that.

[2021-10-30 23:54] #251 closed

[2021-10-31 18:27] robvdpol commented on #237
Fixed in upcoming release.

[2021-10-31 18:27] #237 closed

[2021-10-31 18:28] robvdpol commented on #248
Probably fixed in upcoming release, please report back if you still get the error.

[2021-10-31 18:28] #248 closed

[2021-10-31 18:29] robvdpol commented on #247
Since #236 has been fixed, this might be fixed as well. Please try once the new release is out.

[2021-10-31 18:29] #247 closed

[2021-10-31 18:42] robvdpol commented on #234
Possibly fixed in upcoming release. Please report back.

[2021-10-31 18:42] #234 closed

[2021-10-31 18:48] robvdpol commented on #230
I think this has been solved.

[2021-10-31 18:48] #230 closed

[2021-10-31 18:56] roniel06 commented on #220
Hi @raulongo , you can find the Log file at C:\Users\your_user\AppData\Local\RaceControl

please find it and post it here please.

[2021-11-01 06:59] robvdpol commented on #197
Possibly solved in upcoming release, please report back if it still doesn't work.

[2021-11-01 06:59] #197 closed

[2021-11-01 07:21] Freewarefreak commented on #197
hi Rob,

thx for your effort. i will update and test and feedback.

kind regards

Edwin

________________________________
From: Rob ***@***.***>
Sent: Monday, November 1, 2021 07:59
To: robvdpol/RaceControl ***@***.***>
Cc: Freewarefreak ***@***.***>; Mention ***@***.***>
Subject: Re: [robvdpol/RaceControl] [BUG] Can't open streams in the internal player. (#197)

Possibly solved in upcoming releas

[2021-11-01 07:28] robvdpol commented on #193
Fixed in upcoming release

[2021-11-01 07:28] #193 closed

[2021-11-01 07:28] #194 closed

[2021-11-01 07:29] robvdpol commented on #220
Should be working in upcoming release, please report back if it's still not working.

[2021-11-01 07:29] #220 closed

[2021-11-01 07:30] #180 closed

[2021-11-01 07:32] #182 closed

[2021-11-01 07:32] #192 closed

[2021-11-01 10:04] #171 closed

[2021-11-01 10:16] robvdpol commented on #172
Added in upcoming release.

[2021-11-01 10:16] #172 closed

[2021-11-01 10:34] robvdpol commented on #73
Fixed in upcoming release, downloading will respect the selected default video quality.

[2021-11-01 10:34] #73 closed

[2021-11-01 10:39] robvdpol commented on #78
This can be done by saving/opening a layout.

[2021-11-01 10:39] #78 closed

[2021-11-01 10:39] robvdpol commented on #100
Is this still an issue? Casting works fine for me.

[2021-11-01 10:42] #127 closed

[2021-11-01 13:08] robvdpol commented on #239
Added in upcoming release.

[2021-11-01 13:08] #239 closed

[2021-11-01 13:09] pironic commented on #239
That's great news! Thank you Rob! You Rock!

[2021-11-05 17:38] heinserparedes commented on #248
just tried the new release 2.5.0 pre selected potato and the video started stuck ! none of the 3 windows opened played! and  trying to click on play does nothing.

[2021-11-05 17:43] SnowLeopard71 opened #257 "[BUG] v2.5.0 Stream not playing"
**Describe the bug**
Just upgraded to new 2.5.0 version this morning and Mexico Fp1 stream is not working.   F1TV site works okay, reverted to version 2.4.0 and stream works perfectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to 2.5.0
2. Play live FP1 Mexico stream and get no sound or video.

**Desktop (please complete the following information):**
 - Windows 10 pro
 - 64-bit

[2021-11-05 17:43] gerritjm opened #258 "LOAD FAIL"
**Describe the bug**
LOAD FAIL message when trying to cast. Internal player doesn't run proper. MPV player works

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  live race and try to cast'

**Desktop (please complete the following information):**
 - WIN 10 x64
 - System type 64
 - Version 2.5

**F1TV account**
- Subscription type Pro
- Netherlands
- Using VPN or proxy no

**Additional

[2021-11-05 17:49] robvdpol commented on #257
I'm pulling the release, something is not working with the live streams. Please revert to version 2.4.1.

[2021-11-05 17:58] steffbp commented on #257
VLC player works, just a FYI.

[2021-11-05 18:06] gerritjm commented on #257
Removed 2.5 and reinstalled 2,41. Load Fail remains when trying to cast.

[2021-11-05 18:06] geintje commented on #258
Same here, I updated to latest Racecontrol and have same issue.
Load fail and cast does not happen.
My advice is to roll back to previous release (pretty please)

[2021-11-05 18:09] gerritjm commented on #258
Removed 2.5 and reinstalled 2.41, casting problem remains.

[2021-11-05 18:38] heinserparedes commented on #258
tried playing 3 onboards and a world feed! preselected potato! just loads an stuck image (internal player), tried playing on vlc, however the vlc player does not open the videos in the preselected potato quality! and mpv! also the videos dont play in preselected potato quality.

[2021-11-05 18:40] heinserparedes commented on #257
yes plays with no issues! however does not play on preselected quality!  i selected potato and the videos just start on hd quality!

[2021-11-05 18:53] gerritjm commented on #258
Todays log. First part = 2.5, further down the file it's 2.41
[RaceControl.log](https://github.com/robvdpol/RaceControl/files/7488301/RaceControl.log)

[2021-11-06 13:53] robvdpol commented on #258
For the casting I didn't change anything in Race Control. They must have changed something again on the F1TV backend, maybe the ApplicationID? This is currently set to B3E81094, is anyone able to figure out if this has changed?

[2021-11-06 13:56] robvdpol commented on #258
@bartdevriendt How did you figure out the application ID last time?

[2021-11-06 14:06] robvdpol commented on #257
The quality presets only work for the internal player (and for MPV in the next release)

[2021-11-06 15:22] bartdevriendt commented on #258
I did it by closing chrome/edge completely and then running the browser from instructions found here: https://www.chromium.org/for-testers/enable-logging
In the logfile you end up with lines containing:  VERBOSE1:cast_message_handler.cc.  If you analyse those I managed to find the correct appid.

The app id seems to be changed to 233637DE but when changing it in code of race control I get invalid

[2021-11-06 15:44] bartdevriendt commented on #258
Oops, application id is still B3E81094 according to the log.  Something else seems to have changed...

[2021-11-06 15:51] bartdevriendt commented on #258
Seems they now include a JWT token in the request:

[31632:25760:1106/164240.371:VERBOSE1:cast_message_handler.cc(445)] SendCastMessageToSocket: channel_id: 1, message: {source_id: 163621335445129490, destination_id: 06e97b69-ecc3-4eb3-9425-77a6150d6624, namespace: urn:x-cast:com.google.cast.media, payload_utf8: {"autoplay":true,"currentTime":4.377775,"media":{"contentId":"https://ott-video-fer-cf

[2021-11-06 16:41] robvdpol commented on #258
@bartdevriendt Thanks for pointing me in the right direction, I think I managed to fix it. At least it's working on my Chromecast now.

[2021-11-06 16:41] #258 closed

[2021-11-06 20:00] robvdpol commented on #257
Please try version 2.5.1, should be fixed.

[2021-11-06 20:00] #257 closed

[2021-11-06 20:33] stfrbrntyu opened #259 "When changing language, player hangs"
**Describe the bug**
When changing the language to an other language the player hangs.

**To Reproduce**
Steps to reproduce the behavior:
1. Press "watch"
2. change language

**Desktop (please complete the following information):**
 - Windows 10 Pro, 20H2
 - 64bit
 - RC 2.5.1

**F1TV account**
- Pro
- NL
- Using VPN or proxy?  NO

[2021-11-06 21:08] robvdpol commented on #259
Yeah I'll release a fix tomorrow.

[2021-11-06 23:29] m4ha7m4 commented on #238
To expand on this (or perhaps a future request) would be to have a a separate button to unmute current stream and mute (or drop volume to 50%) all other streams.  Or an option to  prioritize audio from the window  that has focus.

[2021-11-07 18:26] robvdpol commented on #259
Should be fixed in version 2.5.2. Sometimes it takes a while before audio or video resumes playback, so be patient.

[2021-11-07 18:26] #259 closed

[2021-11-08 02:11] WololoW opened #260 "[BUG] Data / Live Timing can not be fast forwarded - Always crashes player"
**Describe the bug**
Any time you try to fast forward the Live Timing / Data channel, it will freeze the player or just not work.
This also happens when attempting to sync the streams too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any race - Mexico for instance
2. Play stream Live Timing (Or, Main Feed, Live Timing, and Driver Tracker.
3. Press button to seek forward a minute mul

[2021-11-08 05:23] RickyNotaro commented on #260
I have the same issue on 2.3.4 and 2.5.1, 2.5.2.  It might be specific to Mexico.
The issue doesn't occurs on other races (ie: Monaco Race 2021)

It's always the same video feed that freeze. In the case of Mexico 2021, I've found out that :

- Live Timing / Data Channel
- Lewis Hamilton

feeds are unable to be "Seeked / fast-forwarded".

When a feed is in a "Frozen State", interacting with any oth

[2021-11-08 07:07] RickyNotaro commented on #260
I don't think it's usefull but the app crash when closing another player while it's "Frozen"

[code]

[2021-11-08 22:13] RickyNotaro commented on #245
![image](https://user-images.githubusercontent.com/6414422/140826389-3a6c5a04-36f0-4da6-840f-457970a60c21.png)

There's almost nothing on the internet about SuspVaultEnumerate, that will be fun to debug. :')

[2021-11-09 07:13] robvdpol commented on #245
Yeah, I don't think I can do much about it.

[2021-11-09 07:18] robvdpol commented on #260
Yes, there seems to be something wrong with the Lewis Hamilton and Live Timing streams from Mexico. The seeking seems to be broken.

@SuRGeoNix it seems to be Flyleaf (or FFMpeg) related, I can reproduce it in Flyleaf standalone player as well. Maybe we can look into it this week.

[2021-11-09 07:37] SuRGeoNix commented on #260
@robvdpol Is this happening on specific live or non-live streams? Have you already tested with other players or from web and it works generally? Can you drop me an email with a m3u8 URL to re-produce it?

[2021-11-09 07:45] robvdpol commented on #260
@SuRGeoNix These are non-live streams, but it's only a couple of specific streams that have the issue. I did some testing with other players, in VLC it works fine but MPV has the same issue. I can send you an m3u8 url but it will expire in a couple of minutes so probably not very useful. Will probably have to do it on skype.

[2021-11-09 07:59] SuRGeoNix commented on #260
@robvdpol Yes, can't use the URL probably requires the cookie as well. It would help to check audio/video stream info details. I would try to disable audio and check if that still crashes on seek (maybe it's a weird audio stream). But as you said probably this is an ffmpeg issue and VLC uses custom demuxer instead of ffmpeg's thats why it works.

[2021-11-11 20:00] amsm opened #261 "[BUG] An unexpected error occurred while resolving "System.Object", with service named "DownloadDialog""
Hi. The downloads seem to be broken, at least with the latest two releases.
For example, if one tries to download the 2021 Mexican GP, world feed, one gets a dialog with the message:
An unexpected error occurred while resolving "System.Object", with service named "DownloadDialog".

Thank you for this brilliant software and I hope this problem isn't too hard to fix.

[2021-11-12 10:09] robvdpol commented on #261
That's strange, the downloads are working fine on my end. Could you post the error from the log file if there is any?

[2021-11-12 11:17] amsm commented on #261
Thank you for replying. Now I am worried. There is no RaceControl related *.log files in the install dir nor in %appdata%.
The problem happens in a Windows 10 system (running on an INTEL NUC) and on a Windows Server 2012 R2 machine, but I think the O.S. and the hardware itself are irrelevant in this case.
When you wrote that you can not replicate the issue, I went to double check even the firewall

[2021-11-12 11:28] robvdpol commented on #261
Are you using the MSI or portable release?

[2021-11-12 14:40] amsm commented on #261
I installed via the EXE.
In the case of Windows 10, I had a pending restart and, after that, the issue went away!
I also restarted the Windows Server 2012 R2 machine (which is a problem, because it is always working), but in its case it did NOT work. The problem persists.

[2021-11-12 15:08] amsm commented on #261
Uninstalled, reinstalled, did a log-out, then a log-in, on RaceControl, on the Windows Server 2012 R2 machine.
The same behavior with downloads, but now the internal player also fails, with this message:
HRESULT: [0x80070057], Module: [General],ApiCode:[E_INVALIDARG/Invalid arguments], Message: [The parameter is incorrect.]

[2021-11-12 15:11] amsm commented on #261
Now I also have a log file. The relevant part is:

021-11-12 15:04:39.1977 INFO Getting tokenised URL for content-type 'Channel' and content-URL 'CONTENT/PLAY?contentId=1000004697'...
2021-11-12 15:04:55.8685 INFO Getting tokenised URL for content-type 'Channel' and content-URL 'CONTENT/PLAY?contentId=1000004697'...
2021-11-12 15:04:55.9455 ERROR An unhandled exception occurred.
SharpGen.Runtime.S

[2021-11-12 16:21] amsm commented on #261
My Windows 10 install of RaceControl 2.5.2, although it now can start downloads, it has a very high chance of writing damaged MP4 files and/or crashing while doing so.
Here is a relevant part of a LOG, after a crash, while downloading.

2021-11-11 20:21:04.1508 ERROR An unhandled exception occurred.
Prism.Ioc.ContainerResolutionException: An unexpected error occurred while resolving 'System.Object

[2021-11-12 20:25] Vallesuski commented on #261
I also have version RaceControl 2.5.2 in Windows 10 and Downloads are not working. It starts but suddenly crashes and shutdownsra the program =S  .... Same situation with recording option.

[2021-11-12 20:41] Vallesuski commented on #261
Update on my side, I tried 2 times to download Qualy from Brazil and it crashes, but on third attempt I was able to complete the download =)

[2021-11-12 21:33] Vallesuski opened #262 "[FEATURE] Audio Language Naming on Downloads"
It would be very nice if the downloaded file already contains audio language name, same as in main window.
English, Spanish, German, etc....

Right now there is no way to know what language are all audios included, you need to listen 1 by 1 to choose yours.

Is this possible?

[2021-11-13 15:02] robvdpol commented on #262
@SuRGeoNix What do you think?

[2021-11-13 15:03] robvdpol commented on #261
@SuRGeoNix Any ideas?

[2021-11-13 16:00] SuRGeoNix commented on #262
Yes, that might be an issue. When I used ffmpeg to copy streams to the downloaded file it might not saving the metadata (which includes the language) for each audio stream. I will have a look and come back to you.

[2021-11-13 16:08] SuRGeoNix commented on #261
From the error messages that I see, it seems that it crashes because of failure during the Video Acceleration Init. The same process runs also during the playback. So I cannot understand, how is possible to work properly with the playback but not with the downloader. That might have to do with the resolution and hardware capabilities. So might the playback uses lower quality and works fine while t

[2021-11-13 17:22] miloman1959 opened #263 "[BUG]"
**Describe the bug**
Both the installer and portable version keep asking for .NET 5.0 framework, although it is installed.

**To Reproduce**
Steps to reproduce the behavior:
1. start the installer or portable version

**Expected behavior**
Installer needs to install ;-)

[2021-11-13 18:11] miloman1959 commented on #263
Reolved it: the SDK is needed, not the runtime...

[2021-11-13 18:11] #263 closed

[2021-11-13 20:47] amsm commented on #261
Thank you all for caring. I think the corrupted downloads are the result of the runtime Exception. At least in my case, I have not been able to complete a full race download, because the app stops working during the process.
Maybe the Windows Server 2012 R2 situation provides better clues: the system refuses to even start BOTH "watch" and "download" functions. In Windows 10, "watch" works, but "do

[2021-11-14 09:11] SuRGeoNix commented on #261
@amsm I think I've found the issue. Just to confirm it would help if you could tested directly on [FlyleafDownloader](https://github.com/SuRGeoNix/Flyleaf/releases/latest). (Download the .7z and run the FlyleafDownloader to tested). It seems there is an error with the assembly = Assembly.GetExecutingAssembly(); When it runs from the RC it will get the RC's assembly and will not be able to compile

[2021-11-14 09:31] SuRGeoNix commented on #261
@robvdpol It seems that @Vallesuski is facing a different issue. By reviewing your Downloader's code I can't see probesize and other Config parameters as you pass them for playback.

[2021-11-14 12:45] robvdpol commented on #261
@SuRGeoNix Assembly.GetExecutingAssembly will get the assembly that contains the code that is currently executing, so I don't think it will return RC's assembly. And wouldn't that cause problems for everyone? I can't reproduce it on my machine. Must be something else.

[2021-11-14 14:00] SuRGeoNix commented on #261
@robvdpol I thought is that because of the FileNotFoundException above. The only "file" that it uses is the embedded resource from the assembly. Not sure if other users have this issue or just @amsm.
@Vallesuski seems to have a different issue, but we will need more information a log file as well.

[2021-11-14 16:01] amsm commented on #261
I downloaded FL directly and could NOT run the player nor the downloader.

This is what the system's app log records:

Application: FlyleafPlayer.exe
CoreCLR Version: 5.0.821.31504
.NET Version: 5.0.8
Description: The process was terminated due to an unhandled exception.
Exception Info: SharpGen.Runtime.SharpGenException: HRESULT: [0x80070057], Module: [General], ApiCode: [E_INVALIDARG/Invalid arg

[2021-11-14 16:04] amsm commented on #261
Regarding permissions I am running all tools as administrator.

[2021-11-14 16:49] SuRGeoNix commented on #261
@amsm If the flyleaf crashes directly then you will not be able to play on RC as well. So I guess this issue should be generally for playback and not for the downloader. Now, I think that your problem is the DirectX version. Maybe you are coming from an older win version with upgrade or something and something is missing. If you try Flyleaf and right click to disable video acceleration from Video

[2021-11-14 18:51] rvdeijk opened #264 "[BUG] Freezes and laptop becomes really hot"
I went from version 2.4.1 tot 2.5.2 since nov 7th and I noticed several things:

- When I switch audio, then the video got stuck for a few seconds
- The main feed freezes once in a while (really annoying) and sometimes also the other feeds freezes
- Some bottom parts of the laptop become really really hot

I switched during the race of today (nov 14th) back to 2.4.1 and all of above issues were go

[2021-11-14 19:02] erwinvang opened #265 "[BUG] screens freeze when using 4 screens (2 x 2 docked)"
**Describe the bug**
I use the latest version. at the beginning of the race I chose the live race. upon launch I choose pit lane channel, live standings, max on board and Ham on board.
screens freeze when using 4 screens (2 x 2 docked)

For a random number of minutes all is fine. But than 1 on board freezes (and stays like that for a long time.

Than if I leave on of the frozen screens as is, afte

[2021-11-14 19:43] Vallesuski commented on #261
This is log from today when attempting to download... crashes again =(

2021-11-14 12:21:10.5026 INFO Settings loaded.
2021-11-14 12:21:10.5422 INFO Found VLC installation at 'C:\Program Files\VideoLAN\VLC\vlc.exe'.
2021-11-14 12:21:10.5422 INFO Found MPV installation at 'C:\Users\ALANVALLESANCHEZ\Downloads\RPI-Respaldo\Race Control 2.5.2\mpv\mpv.exe'.
2021-11-14 12:21:10.5422 WARN Could not find

[2021-11-14 20:00] amsm commented on #261
Here is my DXDiag output

------------------
System Information
------------------
Time of this report: 11/14/2021, 19:57:01
       Machine name: S15
   Operating System: Windows Server 2012 R2 Datacenter 64-bit (6.3, Build 9600) (9600.winblue_ltsb_escrow.211029-1700)
           Language: English (Regional Setting: English)
System Manufacturer: ASUSTeK COMPUTER INC.
       System Model: Z10PE-D16

[2021-11-15 04:38] Vallesuski commented on #261
I'm back to version 2.4.1 and download function is working nice =)
I'm not going to upgrade for now.

[2021-11-15 07:28] SuRGeoNix commented on #261
@amsm We need to clarify the issues (download/playback) per OS because you are mentioning both Win10 and Win2012. Your Windows 2012 dxdiag output seems to be missing in Display Devices the GPU information. Does not look to support DXVA2 models and it does not contain directx feature levels. I'm not sure how it was working before, maybe something changed with the drivers, windows update? I will try

[2021-11-15 07:39] SuRGeoNix commented on #264
Hi @rvdeijk, I'm not very familiar with RC's video resolution options but is it possible that you are using higher resolution with 2.5.2 and that's why you are facing this issue?

[2021-11-15 08:12] Vallesuski commented on #261
@SuRGeoNix where can I find event logs? Since I'm back to v2.4.1 I'm not sure if I will be able to find the log.

[2021-11-15 08:17] SuRGeoNix commented on #261
@Vallesuski It should be still there. Open 'Event Viewer' and go to Windows Logs -> Application and search for Error during the date that it happened (double click). If you see stack trace error message similar with the above errors copy and paste it here.

[2021-11-15 08:52] robvdpol commented on #264
@SuRGeoNix Nothing really changed in Race Control except for the extra settings for probesize, analyzeduration and bufferduration.

When I open 6 streams on my laptop everything is fine, Race Control uses only 1% CPU since all the decoding is done on the GPU. GPU load is quite high which causes the fan to spin a bit harder for cooling. Memory is around 900MB which isn't bad either.

I don't think

[2021-11-15 12:05] rickschwarz opened #266 "Live session not present/showing in "Live Now" section of the app."
Live session not present/showing in "Live Now" section of the app.
No audio message "New Live Event"

[2021-11-15 16:39] Vallesuski commented on #261
@SuRGeoNix here are the logs.

**Log #1**

Application: RaceControl.exe
CoreCLR Version: 5.0.1121.47308
.NET Version: 5.0.11
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Collections.Generic.KeyNotFoundException: The given key '1' was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at FlyleafLib.Medi

[2021-11-15 17:31] amsm commented on #261
Hi, sorry for the delay. The issue with the DXDiag is that I only connect to this machine via Remote Desktop, so the tool might not capture all the available video functionality. The machines does have a modest Nvidia Quadro K2000 GPU.
Regarding the issue per OS, using v2.5.2: WS12: both watch and download FAIL; W10: watch works, downloads never complete and the app exits at some stage, leaving a

[2021-11-15 17:42] SuRGeoNix commented on #261
@Vallesuski Yes this is very helpful. Thanks for that, hopefully I will identify it and fix it until the next version.
@amsm Thanks also for the detailed information and logs, maybe your download issue is similar with @Vallesuski 's and you have a similar log error somewhere. Now with Win2012 this is might the rdp that messes with the GPU adapters and that's the reason of the crash. I will have to

[2021-11-15 17:54] SuRGeoNix commented on #264
@robvdpol The main difference between 3.2.5 and 3.3.10 is the replacement of SharpDX with Vortice which I don't think that has to do with any of those performance issues. Rather than that... all the other changes are enchantments and better performance overall (eg. pixel shaders). Not sure were to look. I will need more info if Flyleaf causes this, eg:- the memory leaks or GPU memory leaks, or hig

[2021-11-15 18:06] rvdeijk commented on #264
I could try if I can reproduce it when I watch a race back instead of live. If so, I can check the load difference between 2.4.1 and 2.5.2

[2021-11-15 18:26] SuRGeoNix commented on #264
@rvdeijk Yes, that would help to compare the same feeds/videos between those two versions

[2021-11-16 08:29] jpd1968 commented on #265
Although I'm only using one stream (World Feed) the freezing of the screen is happening. I've looked in the log for errors but there is none to be found.
This is what is in the logfiles around the time the screen freezes:
_2021-11-14 19:27:20.0381 INFO Querying live sessions...
2021-11-14 19:28:17.3950 INFO Getting tokenised URL for content-type 'Channel' and content-URL 'CONTENT/PLAY?contentId=10

[2021-11-16 08:55] robvdpol commented on #265
I'll probably revert to earlier Flyleaf version until this problem has been fixed.

[2021-11-16 09:25] DjDaan111 opened #267 "[Bug] When opening saved layout drivers onboard also broadcast world feed audio"
Describe the bug
I have version 2.5.2 with a saved layout across 2 screens: main screen: Pitlane channel, 2nd screen: Timing, track, Verstappen and Hamilton.

When I open the saved layout during a live session the 2 driver cams report as teamradio only but I still hear the main broadcast added to it. When I saved this layout I could only hear the teamradio.

When i close and reopen the 2 driver ca

[2021-11-16 09:32] robvdpol commented on #267
I think this was caused by F1TV renaming the team radio audio streams from 'obc' to 'teamradio'. You can fix this by opening your layout file in a text editor and replace:

`"AudioTrack": "obc"`

by this:

`"AudioTrack": "teamradio"`

Alternatively, you can simply recreate and save your layout using the app.

[2021-11-16 09:33] #267 closed

[2021-11-16 10:02] Basdekruijf commented on #264
I have also the freezing problem the last race i had the stream on medium, and the stream had the freeze whit round 70.
I use a hp laptop whit windos 11 home 64 bit also the netherlands and also 2.5.2, i also use a utp cabel for the internet connection.

[2021-11-16 14:25] rvdeijk commented on #264
@SuRGeoNix Okay I will paste here some screenshots.
I noticed that since RC 2.5.2 also my NVIDIA GPU is used and the CPU load is a bit higher.
With RC 2.4.1 only the intel GPU is used and the NVIDIA remain idle.

Race Control 2.4.1 overview
![RC_2-4-1](https://user-images.githubusercontent.com/35557458/142002782-a47eba41-59fa-4019-888d-8dca7bc9e9b2.PNG)
Race Control 2.4.1 CPU
![RC_2-4-1_CPU](https

[2021-11-17 07:10] SuRGeoNix commented on #264
@rvdeijk Thanks for the detailed analysis, that helps a lot. The problem seems to be that when you have more than one GPUs, Flyleaf will not select the right one (better one). So, if we see the results in RC 2.5.2, CPU usage is double and as you mention the video decoding is not happening in GPU. Video acceleration fails as the GPU (nvidia) does not support it. (Which makes sense as that part of t

[2021-11-17 07:26] robvdpol commented on #264
I'll try to add a setting so users can choose which GPU to use.

@SuRGeoNix could you point me in the right direction for which config properties I need to use?

[2021-11-17 07:35] rvdeijk commented on #264
@SuRGeoNix Thanks for the reply and I hope I pointed people to the right direction. I have really no clue why this laptop have the NVIDIA GeForce MX130 if it lacks video accelaration. I think the Intel Graphics UHD 630 could do the job fine. Maybe there are other purposes for the NVIDIA one. Not sure.

@robvdpol thanks, that would at least help me to select the right one. But I digged into it and

[2021-11-17 07:38] SuRGeoNix commented on #264
@rvdeijk I've created a quick patch [here](https://drive.google.com/file/d/1IgbvEdARBlW5M3gvIvj2gSjpcSWKe4C6/view?usp=sharing)

Can you try replace in v2.5.2 the FlyleafLib.dll with the above and retry?

[2021-11-17 10:39] Basdekruijf commented on #264
Our laptop works whit the intel graphics, i look into the gpu use this afternoon.

[2021-11-17 10:43] rvdeijk commented on #264
I tried your quick fix and it fixed the problem :).
The intel GPU is used again and it's decoding and CPU load is back to how RC 2.4.2 behaved.
The NVIDIA remain idle.

Screenshot of RC 2.5.2 with your FlyleafLib.dll
![RC_2-5-2_QuickFix](https://user-images.githubusercontent.com/35557458/142185810-74e50c74-c1d5-44e6-a9ad-605f0d1721e4.PNG)

[2021-11-17 11:39] Basdekruijf commented on #264
this is what i have whit 2.5.2 whit out the new flyleaf.

![image](https://user-images.githubusercontent.com/94445718/142193599-499f227b-be92-4012-83e2-456b0274c735.png)

[2021-11-17 11:43] rvdeijk commented on #264
I think it's also relevant to make a screenshot when you select the GPU 0 in the task manager.
Probably even better to do the same with with RC 2.4.1
Cause then the developers know if there is a difference in behaviour of those two versions.

[2021-11-17 12:01] Basdekruijf commented on #264
This is what i have whit 2.4.1.

![image](https://user-images.githubusercontent.com/94445718/142196976-adfaa61f-a8bc-41ed-9567-3ef86791e839.png)

[2021-11-17 13:01] SuRGeoNix commented on #264
@rvdeijk Great news, I will include this patch to the next version

@Basdekruijf You have only one GPU which has the same usage between those two versions. You have freezing issues with 2.5.2 but not with 2.4.1 and even with a single window?

@robvdpol We can skype to fix also the other issue and hopefully you will not have to roll-back to 3.2.5 flyleaflib

[2021-11-17 13:16] Basdekruijf commented on #264
@SuRGeoNix i started whit race control whit version 2.5.1 so i dont know iff 2.4.1 freez whit a whole race.

[2021-11-17 13:18] robvdpol commented on #266
This was on Sunday? I didn't have any problems on Saturday, but didn't use Race Control on Sunday.

I will have to check this Friday.

[2021-11-17 13:34] SuRGeoNix commented on #264
@Basdekruijf You will need to provide more information so we can resolve also your issue which seems to be different. What freezes means, crashes or freezes and then plays back normally? If crashes can you provide any logs? If freezes how often, with any video any resolution? Do you have issues with the other players (mpv/vlc)?

[2021-11-17 13:45] Basdekruijf commented on #264
@SuRGeoNix the stream freezes whit de quality high and medium, the program dont crash and the stream works again when restart the stream. On quality high the stream freezes for 2 a 3 times, whit medium the stream freezes 1 time on the end of the race,
I use the world stream whit dutch audio and when the fan starts blowing the stream freezes, i dith not yet used a nother player yet.

[2021-11-17 14:19] SuRGeoNix commented on #264
@Basdekruijf So when the stream freezes you have to restart the stream to play it again, or you can just pause/play and works fine? It is possible that it does not freeze, but it just stops without any reason and you just need to continue playing (which is still an issue but different)

I'm afraid that you will have the same problem with other players as well. It seems that your GPU or memory goes

[2021-11-17 15:07] Basdekruijf commented on #264
@SuRGeoNix no its a freeze i cant use pause/play, i must close the window and start the stream again. I gonna try vlc player maybe that works better for me.

[2021-11-18 08:45] robvdpol commented on #264
@SuRGeoNix Are you able to release the patched Flyleaf today?

[2021-11-18 09:25] SuRGeoNix commented on #261
@amsm It seems that your issue at least with Win2012 is the same with #264. To confirm this you can try replace in v2.5.2 the FlyleafLib.dll with this [one](https://drive.google.com/file/d/1IgbvEdARBlW5M3gvIvj2gSjpcSWKe4C6/view?usp=sharing) and retry?

Might also resolve the Win10 issue even if I don't have information what is going on there (try to send us logs for that). @Vallesuski might also r

[2021-11-18 11:02] SuRGeoNix commented on #264
@robvdpol Yes, just trying to resolve also the downloading issues. Which some were related with this one and others might not.

[2021-11-18 11:47] amsm commented on #261
Thank you so much for your effort! Unfortunately, having replaced the original FlyleafLib.dll in RC's folder, I get the exact same results on watch and download.

[2021-11-18 11:50] flipjj commented on #261
Just want to say I have the exact same problem as @amsm.
Tried the same things and downloads still do not work, program crashes as well.
Win10, exe installation, cannot precisely say when it started in terms of version because I had not tried downloading for a wee while.
Cheers to everyone who has been working hard trying to sort this.
Race Control is still the premium F1TV experience.

[2021-11-18 13:02] SuRGeoNix commented on #261
The next version will fix the downloading as it will not initialize the Video Acceleration which seems that causes the issue.

@flipjj it would help if you could give us more details about your system (do you have more than one GPUs?) and any logs with error messages.

[2021-11-18 16:07] SuRGeoNix commented on #261
@amsm Good news. I have installed Win2012 and found the issue, it will be fixed in the next version as well.

[2021-11-18 16:17] amsm commented on #261
Yes, thank your for your time.
My W10 log is full of queries to the service; when it crashes while downloading, nothing gets written to the log file.

[2021-11-18 16:18] amsm commented on #261
Thank you!

[2021-11-18 16:28] Vallesuski commented on #261
This is great news! Thank you so much.

[2021-11-18 17:41] Vallesuski commented on #261
@SuRGeoNix just replaced file and now I'm not even able to open the program. I have this error --> https://i.imgur.com/bxx4XfM.png

[2021-11-18 17:46] SuRGeoNix commented on #261
@Vallesuski Yes that's why :) You should do it on the latest 2.5.2

[2021-11-18 17:59] Vallesuski commented on #261
I have this error to open the program --> https://i.imgur.com/BWtOiFL.png

[2021-11-18 18:04] Vallesuski commented on #261
How can I do that? Sorry but I'm not a tech guy.

[2021-11-18 18:05] robvdpol commented on #261
@SuRGeoNix has to do it.

[2021-11-18 18:07] SuRGeoNix commented on #261
I have not changed the version in the patch

[2021-11-18 20:33] robvdpol commented on #265
Please try version 2.5.3 and report back.

[2021-11-18 20:33] #265 closed

[2021-11-18 20:34] robvdpol commented on #264
Should be fixed in version 2.5.3.

[2021-11-18 20:34] #264 closed

[2021-11-18 20:34] robvdpol commented on #262
Fixed in version 2.5.3.

[2021-11-18 20:34] #262 closed

[2021-11-18 20:35] robvdpol commented on #261
Please try version 2.5.3 and report back.

[2021-11-18 20:35] #261 closed

[2021-11-19 05:36] Vallesuski commented on #262
Thank you so much for adding this feature. It's really helpful.

[2021-11-19 05:38] Vallesuski commented on #261
I have version 2.5.3 now. I tried to download a couple of sessions and they were successfully completed. I will continue monitoring through Qatar weekend.

[2021-11-19 06:30] rvdeijk commented on #264
@robvdpol I know this issue is closed, but one of my issues still remained with RC 2.5.3, compared to RC 2.4.1:

Witch RC 2.4.1 when I switch audio, the video feed continues and the audio comes in when it's ready.
Since RC 2.5.x when I switch audio, the video got stuck (freeze) for 1 sec and then the video continues with the new audio. This is annoying when you have multiple video feeds in sync, b

[2021-11-19 07:18] SuRGeoNix commented on #264
@rvdeijk We will need to discuss more about that as the audio switch is different from feed sync. I'm willing to help with a proper feed sync by creating an accurate seeking (additional to the existing keyframe seek). In this way you could just press a button and sync all the windows to each other automatically.

Now for the audio switch, the major difference between the previous version is the bu

[2021-11-19 07:24] rvdeijk commented on #264
@SuRGeoNix Hi, well I am talking about when the race is 'live', so there is no seek faster (forward).
I know the same issue appears when I watch back a race. But my point is when the race is live.
During a live session there is no 'sync button'. So what I do is I start the main feed and the pit lane feed.
Then I make sure those to are synced and then I start two driver feeds and make sure those ar

[2021-11-19 07:33] SuRGeoNix commented on #264
Yes, I get your point.  We could have a live seek if ffmpeg provided UTC timestamps (btw, flyleaf supports live seeking as far as the streams provide video segments for e.g. last 2 hours of streaming).

I think then @robvdpol should review it and decide what is better to be implemented. You could get the previous behavior (maybe only for live streams) with the current Flyleaf's version by using a

[2021-11-19 07:43] rvdeijk commented on #264
Great, this seems also the behaviour of RC 2.4.1? Then I switched audio and video continued playing and audio arrived indeed a bit later. Which is not a problem. As long as the video continues 👍

[2021-11-19 07:47] SuRGeoNix commented on #264
Yes that was the exact behavior on previous version as well. However, this way you loose the meaning of the buffer, not sure what rob want for the RC. Generally, its a good idea to pre-download few minutes of the video to ensure stability and quick seek forward. It's his decision, he could even mix it up eg. Change the buffer duration and openAsync (resync) of audio stream only for live videos and

[2021-11-19 07:49] robvdpol commented on #264
@SuRGeoNix Let's look into this next week.

[2021-11-19 07:51] robvdpol opened #269 "[BUG] When switching audio the video gets stuck for a few seconds"
**Describe the bug**
When I switch audio, then the video got stuck for a few seconds.

Extracted from issue #264

[2021-11-19 07:53] robvdpol commented on #264
@rvdeijk I created issue #269 to track this.

[2021-11-19 09:35] amsm commented on #261
Sorry for taking this long to give feedback.
I only tested on WS2012R2 and everything seems OK. Watch is possible, even via RDP connections. Downloads are going on.
Thank you all for yet another step forward in this superb app!

[2021-11-19 10:52] GHDutch opened #270 "[BUG]Internal player audio stutters a few minutes in. Then app freezes and crashes completely. (Was also present in previous version?)"
**Describe the bug**
Opened Internal player layout. (4 streams at the same time, world feed, data, gps and one onboard) After 10 or 15 minutes audio starts stuttering. (like skipping record) When closing the stuttering stream the app freezes and crashes completely. All open players then crash (Or when they don't crash audio keeps stuttering). Was also present in previous version? I noticed the tim

[2021-11-19 12:34] JbvGaming opened #271 "[BUG]"
**Describe the bug**
Everytime I watch a stream (regular world feed), it just freezes the stream. No error, nothing. To fix it I have to close the stream window and reopen it. It doesn't happen in specific time frame and just happens randomly, at least it seems like it does.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Live now'
2. Play stream 'World Feed'
3. Watch stream
4. Stream

[2021-11-19 21:05] SuRGeoNix commented on #270
Hi @GHDutch, your issue seems to be a hardware performance issue.

Would be possible to provide task manager (performance tab with GPU selected) while this happening?
Can you confirm that it happens only when you have multiple windows opened and not just one?
Can you also tested with other players (mpv, vlc) and see if you have the same problem?
You might also check the Event Viewer -> Windows log

[2021-11-19 21:05] SuRGeoNix commented on #271
Hi @JbvGaming, can you please check #270 and provide the requested information as it looks similar if not the same?

[2021-11-19 22:40] JbvGaming commented on #271
@SuRGeoNix I actually looked at it before I submitted the bug, but for me it's not 10min in, it's random. Plus, for me it does not stutter at any time. It just freezes. Then I have just have to restart the stream not the whole app, since it doesn't crash.

[2021-11-19 22:44] GHDutch commented on #270
Provide task manager? How? Live?
I'm not sure if it happens on replays. But I will check that now. It doesn't seem to happen on VLC, but the delay on VLC is significant so it's not really a fix for live sessions. First thing i noticed that in replay mode the timers work perfect. So i think it's not the same.
I have a gtx3070 So not sure if it's supported. Would be surprised if not.

[2021-11-19 22:55] GHDutch commented on #270
So far, in replay not any issues... Performance manager screenshot here:
https://ibb.co/nknKfhK

[2021-11-19 23:01] GHDutch commented on #271
To add, it does seem similar. Sometimes my whole app crashes, but in previous version I just could close the frozen stream and restart just that one. ;-) The crash only happened in latest version.

[2021-11-19 23:07] GHDutch commented on #270
Checked the log. All is info except:
2021-11-19 23:39:09.6712 WARN Could not find MPC-HC installation.

[2021-11-20 06:35] SuRGeoNix commented on #271
@JbvGaming We will still need the requested information to check whether is flyleaf player's issue, hardware or RC's

[2021-11-20 06:57] SuRGeoNix commented on #270
@GHDutch GPU it does not seem to be the problem at all. So the issue is happening probably only on live streams and when you use multiple windows, right? The audio shutters but the video continues without issues? I also read that you had different behavior (no crash to other players) with previous version, which one was the previous version that you were using?

[2021-11-20 07:26] DrMurgz opened #272 "[BUG]"
**Describe the bug**
While watching and also when recording from the internal player, the app crashes either midway or as mostly at the end of the playback or live stream.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Watch with internal player.
2. Play stream.
3. Press record button.
4. Continue watching.
5. It crashes after a while or at the end.

**Expected behavior**
Watch and re

[2021-11-20 09:27] Crash1338 commented on #271
Same here since the last 2 versions. Stream freezes (mostly after about 30-60 minutes) without any "warning" (no sound stutter or anything before). Difference to the original report is I'm on Windows 10 Pro 64bit (20H2)

[2021-11-20 09:33] SuRGeoNix commented on #271
@Crash1338 v2.5.1 works fine with you and last 2 versions are 2.5.2 and 2.5.3 which freezes? Or you didn't try 2.5.3 yet?

[2021-11-20 09:38] GHDutch commented on #270
Version on bug submission: 2.53, previous version I don't know. I updated it previous weekend.  No when audio starts stuttering, image freezes as well. But other players continue. Sometimes i can close the stuttering/frozen stream, and restart (this happened multiple times last race) And yesterday it crashed the whole app at least twice...  So since 2.53 it seems a bit different.

[2021-11-20 09:47] SuRGeoNix commented on #270
@GHDutch OK, capture a task manager screenshot during the freeze if possible and we will investigate it

[2021-11-20 09:48] Crash1338 commented on #271
Sorry, I mixed up my versions. I was using 2.5.3 just yesterday (which should be the latest one right now?). The version before had the same issue. The last version I know where I had no such problems was 2.4.0

[2021-11-20 09:51] robvdpol commented on #271
@SuRGeoNix quite a lot of people reporting issues, is that because of switching to Vortice? Flyleaf 3.2.5 seemed to be much more stable.

[2021-11-20 09:53] GHDutch commented on #271
Same for me.

[2021-11-20 10:07] SuRGeoNix commented on #271
@robvdpol Can't be sure, no much debugging / logs info, I'm just trying to guess again. We should consider adding more logging for the internal player. Can be RC integration with Flyleaf, can be Flyleaf itself, can be Vortice. FFmpeg's libraries didn't changed in 2.5.X right?

[2021-11-20 10:51] GHDutch commented on #270
First crash occured within minutes of stream starting

https://i.postimg.cc/DZ7zs0Qp/Untitled.png

[2021-11-20 10:59] GHDutch commented on #270
Another crash occured another few minutes after restarting. Logging seems to be continuing when audio is stuttering and image is frozen. Nog logs that give away anything.

https://ibb.co/ZW0nkCw

[2021-11-20 11:27] SuRGeoNix commented on #270
@GHDutch Just cloned RC and it seems that I'm able to reproduce it and debug it, hopefully will find it soon

[2021-11-20 12:02] GHDutch commented on #270
Good to hear. Good job. I used MPV for the remainder of the session without any issues.

[2021-11-20 12:16] SuRGeoNix commented on #270
@robvdpol Those important [lines](https://github.com/robvdpol/RaceControl/commit/7da67dbc17569e05885ff7f734f15e2886ba39a8#diff-6d3e02a29ce6145bb86c76c1b01d6c9865f9fe63a4df31f9d4101ed55eba8c6bL221) have been removed during Flyleaf's integration from 2.4.X to 2.5.X which are now causing a critical null reference exception which causes TimeBegin/EndPeriod to de-sync and not initialize the decoder pro

[2021-11-20 12:29] jpd1968 commented on #271
As I commented in #265 same issue here, World Feed live stream, internal player, RC version 2.5.3 screen freezes after a certain (random) period of time. Nothing in the log (as posted in #265 )

[2021-11-20 12:43] jasonlitka opened #273 "Crash on Download with 2.5.1+"
All versions starting with 2.5.1 crash during downloads for me.  Could be at 2%, could be at 20%, but none will finish.  If I uninstall and go back to 2.5.0 then everything is fine.  I see the following three error in Windows Event Viewer (with RC 2.5.3):

-----
Application: RaceControl.exe
CoreCLR Version: 5.0.1221.52207
.NET Version: 5.0.12
Description: The process was terminated due to an unhan

[2021-11-20 12:47] JbvGaming commented on #271
I will log everything if it happens again with the next Quali Session, but in FP3 today nothing happend and all went smoothly.

I looked into the Event Viewer in Windows but could not find anything new, just an error that happend on version 2.5.1 on the 7th of November. But since the player just freezes and not the whole program itself, I don't think that the windows error log should be of any hel

[2021-11-20 15:10] DjDaan111 commented on #267
Thanks that fixed the issue!

[2021-11-20 15:32] Vallesuski commented on #273
Hi Guys, sadly I have to say downloads are not working again on newest version 2.5.3
These are my logs -->

Log #1

[code]

Log #2
[code]

[2021-11-20 16:00] SuRGeoNix commented on #273
That weird error message again. Can you confirm that it is happening only on live streams?

[2021-11-20 16:03] robvdpol commented on #273
@SuRGeoNix downloading is disabled for live streams.

[2021-11-20 16:14] SuRGeoNix commented on #273
@robvdpol Why? In my custom version it downloads fine

[2021-11-20 16:31] SuRGeoNix commented on #273
@robvdpol How is this possible that 2.5.0 was working for this one?

[2021-11-20 17:39] robvdpol commented on #273
I guess I can enable downloads for live broadcasts as well, but it's kind of weird because you would download the broadcast from the current time and not from the beginning, right?

For downloading, nothing changed between 2.5.0 and 2.5.1. Maybe it was working in 2.4.1? Since that was using older Flyleaf version.

[2021-11-20 17:44] SuRGeoNix commented on #273
You could seek(0) before start downloading if you want from the beginning.

@jasonlitka should verify that as I am not able to reproduce it generally.

[2021-11-20 17:47] robvdpol commented on #273
Yeah it's strange, I can't reproduce it either. I just successfully downloaded a full broadcast.

[2021-11-20 17:50] SuRGeoNix commented on #273
Hm.... maybe the read timeout

[2021-11-20 17:52] jasonlitka commented on #273
The download issue definitely started for me on 2.5.1 and is still there on 2.5.3. As soon as I uninstall and then install 2.5.0 the downloads complete with no issues.

The release notes for 2.5.1 say FlyLeaf was upgraded.

@SuRGeoNix not sure what you mean by seek(0). I’m just clicking the download button after picking the race and event. Not trying to download a live stream or download while pla

[2021-11-20 17:59] SuRGeoNix commented on #273
@jasonlitka They seek(0) it was for @robvdpol not for you! no worries!

@robvdpol This is very strange if it happens in 2.5.0 and not in 2.5.1

[2021-11-20 18:21] robvdpol commented on #269
Should be fixed in next release.

- BufferDuration set to 1 second
- Resync always false

Tagging @SuRGeoNix

[2021-11-20 18:22] #269 closed

[2021-11-20 18:23] Vallesuski commented on #273
I don't see version 2.5.0 in the list of releases, not sure how @jasonlitka is able to grab that version.
If I use version 2.4.1 downloads works great, no problem at all.

Starting from 2.5.1 is when we have the problem.

[2021-11-20 18:29] robvdpol commented on #273
You're right, I remember now, 2.5.0 was pulled because of some critical issues.

[2021-11-20 18:30] SuRGeoNix commented on #273
@Vallesuski Yes probably @jasonlitka made a mistake there. Would you be able to do some testing if I prepare a .dll to replace so we can identify it?

[2021-11-20 18:32] robvdpol commented on #273
Not sure what you mean? Which list does it change?

[2021-11-20 18:46] SuRGeoNix commented on #273
@robvdpol You do

[code]

No copy but reference

[2021-11-20 18:51] robvdpol commented on #273
@SuRGeoNix That code is fine, it doesn't change your list.

[2021-11-20 18:52] SuRGeoNix commented on #273
@Vallesuski @jasonlitka It would help if you patch 2.5.3 with this FlyleafLib.dll which will produce a FlyleafLog.txt file after crashing. First make sure if the download finishes successfully and in any case you send us here the log file.

[2021-11-20 19:31] robvdpol commented on #266
I think it's working fine this race weekend?

[2021-11-20 19:36] robvdpol commented on #270
Please try version 2.5.4 and report back.

[2021-11-20 19:36] robvdpol commented on #272
Please try version 2.5.4 and report back.

[2021-11-20 19:37] robvdpol commented on #271
Please try version 2.5.4 and report back.

[2021-11-20 19:39] jasonlitka commented on #273
I overwrote the original DLL with that one but I'm not getting a log file after the crash.  I thought it might be because you can't write to Program Files unless you're an admin so I tried again with Run as Administrator and still no log after the crash.  Race Control just blinks out of existence.

Maybe related, I tried the watch button and about 20% of the time it does the same thing when playba

[2021-11-20 19:50] jasonlitka commented on #273
Not sure if it matters, but the computer I've been using is running Windows 11.  It's a Dell XPS 13 9310 (i7-1165G7, 32GB RAM) and it's connected via WiFi.  I tried a desktop (Windows 11, Ryzen 9 5950x, 64GB) which was wired and while it seems more stable, I managed to snag Qatar Qualifying, when I tried to download P3 it crashed again at about 40%.

[2021-11-20 19:57] SuRGeoNix commented on #273
@robvdpol Can you try the specific video for download to see if you can reproduce it?

[2021-11-20 20:47] jasonlitka commented on #273
Maybe it’s a Windows 11 thing. I’ve got a Server 2019 VM I use for testing and it’s working well. 4 downloads in a row and no crashes. Slow though, probably more a matter of resources. 2 vCPU & 8GB.  I’ll test a few more downloads on the VM later.

[2021-11-20 21:31] Vallesuski commented on #273
If you want me to test anything please let me know. I'm currently on 2.4.1

[2021-11-20 21:33] Vallesuski commented on #273
I just noticed 2.5.4 enabling Live downloads.... It means we can download Live streaming including all languages or just the one is currently selected? (I would prefer having all audios included)

[2021-11-20 21:36] robvdpol commented on #273
Downloads will have all languages.

[2021-11-20 23:03] jasonlitka commented on #273
I'm up to 12 successful downloads on the WS2019 VM.  I remoted into another W11 machine I've got in my office (i9-11900KB, 32GB) and that downloaded one file fine but crashed on the next 3 tries in a row.

That's a totally different bit of hardware, different network gear, and different ISP.  This feels like Windows 11 is somehow to blame.

[2021-11-20 23:09] SuRGeoNix commented on #273
@Vallesuski mention the same issue in Win10 as well. So, I don't think it's an OS issue but more likely a hardware or .NET 5 version

[2021-11-21 13:10] lavaground opened #274 "[BUG] Installer removes "Pinned to Start" Icon"
**Describe the bug**
The installer removes the "Pinned to Start" icon of RaceControl.

**To Reproduce**
Steps to reproduce the behavior:
1. "Update" installed RaceControl

**Expected behavior**
The Icon remains "Pinned to Start" upon update installation.

**Screenshots**
Should be self-explanatory

**Desktop (please complete the following information):**
 - Windows 11 Pro
 - System type: 64 bit
 -

[2021-11-21 13:11] lavaground commented on #274
IMO: It's more QoL instead of a bug. :)

[2021-11-21 14:00] GHDutch commented on #270
Tried again with 4 internal players. Live feed, driver tracker, data channel and car33 Verstappen onboard.
First observations:

1. Timer is still frozen. It's shows the time when the stream was started.
2. Moments after opening, i cannot resize the 4th internal player anymore.
3. Changing audio output device while streams are on works well now. Thank you.
4. 15mins in. All seems stable. Will close

[2021-11-21 15:05] SuRGeoNix commented on #270
@GHDutch Live stream timers are implemented different. Let say a live stream provides you with last 30 minutes of the stream. You will have 0 to 30 minutes duration and you will be for example at 29minute always as it is live. I guess that's the case for 1.

[2021-11-21 15:33] jpd1968 commented on #271
2.5.4. is ss stable as it should be, seems to be solved. Fingers crossed
and keep up the good work!

Op za 20 nov. 2021 om 20:37 schreef Rob ***@***.***>:

[2021-11-21 15:37] GHDutch commented on #270
Made it through the race without crashes. Well done guys! Thanks again.

[2021-11-21 15:37] #270 closed

[2021-11-21 15:39] #266 closed

[2021-11-21 15:39] #271 closed

[2021-11-21 18:52] chrcoluk commented on #274
A me too but when selecting just for me and on Win 10.

[2021-11-21 19:08] chrcoluk commented on #12
Can this be made optional? as it would be a spoiler.

[2021-11-21 19:11] chrcoluk commented on #260
Not sure if this is same issue but will post what happened here.

I just watched last race pit lane channel, data channel no isues, no skipping just start to finish.

Then loaded world feed vod, tried also post race show, and tried to skip to interviews, it worked but no audio, this is for all languages.

I was running 2.3.0

I then upgraded to latest and tried the same again, this time it doesnt

[2021-11-21 19:12] robvdpol commented on #12
At the moment I don't have any plans to implement this feature anyway.

[2021-11-21 20:25] Vallesuski opened #275 "[FEATURE] Download to Remote Server - FTP"
Current download function is for a local machine.
It would be great if you can add a 2nd download option to a remote server via ftp.

Let's say you press "download button" and then ask you to download into a "local computer" or "remote server". If remote server is selected then ask for ftp credentials (hostname, username & password) and put the file into the server.

This function would be really

[2021-11-22 06:59] markhewitt1978 opened #276 "Start live stream from the beginning"
Give an option for sessions that are currently live to watch the stream from the start. To avoid spoilers in joining a live feed part way through.

[2021-11-22 12:10] robvdpol commented on #260
Yes, the Qatar World Feed has the seeking issue as well.

[2021-11-22 13:40] evkrieken opened #277 "How to use the Save and Import layout functionality"
Hi, maybe this question doesn't belong here but I couldn't find another source of information on RaceControl. If I am wrong please inform me on where I can find more info or sollution
I am just starting with the use of RaceControl, so cut me some slack When I use Racecontrol I select year, location,, upcoming activity and than choose 4 channels which I configure in a 2x2 layout with 2 of them with

[2021-11-22 13:45] robvdpol commented on #277
You don't need to use Import layout, that's only useful if you have multiple (different) layout files that you want to switch between.

In your case you can simply save the layout (which you've already done) and then click the 'Open internal' button. This will open the selected session in the layout that you saved.

[2021-11-22 13:45] #277 closed

[2021-11-22 14:24] evkrieken opened #278 "New basic functionality"
I see lots of Issues, but I think all of them are purely technical oriented not on the provided information / content within the channels. Are you also considering adding new functionality on the current system or do you consider the content of the channels to be pure responsibility of Formula One which you only stream in a user-friendly way?

I am already a long time searching for a program, webs

[2021-11-22 20:53] SuRGeoNix commented on #260
Unfortunately it is an HLS ffmpeg issue can't do much about it. The debugging shows me that when you seek (especially far away from the beginning of the stream) it will not bring audio packets at all and generally has delays and strange behavior. If you disable audio (not sure if you can do it from RC, I did it with code) seems to work fine.
FFmpeg's trac (bug report) has a number of issues with H

[2021-11-22 21:12] WololoW commented on #260
That option would be welcomed, as no one that I can think of would want to have audio on for every single video stream they are watching simultaneously. Would be a workaround, but a very useful one.

[2021-11-22 21:16] SuRGeoNix commented on #260
Think I found the related bug and possible patch https://trac.ffmpeg.org/ticket/8334

[2021-11-22 21:20] erwinvang commented on #265
Hi,

Despite the update it still froze.

Rgds
Erwin

Op do 18 nov. 2021 om 21:33 schreef Rob ***@***.***>

[2021-11-23 09:06] SuRGeoNix commented on #273
Guys, I think that I've finally found (more likely understand) and [fixed](https://github.com/SuRGeoNix/Flyleaf/commit/1540ee9f8512b73f388d93d2ecb37cd60fa4055c) the issue for this one even I was not able to reproduce it. You can download the patch from [here](https://drive.google.com/file/d/13KBWrxsSwzQcs5MZlC-56scRlqpQXAQ7/view?usp=sharing) or wait for the next RC version to try it.

[2021-11-27 15:42] tinchox1717 commented on #273
i cant watch or download anything.

i get Request resource doesnt contain a valid shceme for an empty client base URL

what im doing wrong?

https://i.imgur.com/L38mplh.png

[2021-11-27 16:19] SuRGeoNix commented on #273
@tinchox1717 This is a different issue and probably 'client side' meaning yours. If not then it RC's issue. But first check the file and network access (run as administrator and check your antivirus / firewall and internet connection)

[2021-11-28 12:30] TTCashier commented on #275
Would love this also.

[2021-11-29 15:11] robvdpol commented on #275
I don't really see how this would work technically. If you upload the stream via FTP you're not getting the benefit of the remote server bandwidth, the data would pass through Race Control to the FTP server. You'd be better off simply running Race Control on the remote server I think?

[2021-11-29 15:12] robvdpol commented on #278
This is not in scope for this project.

[2021-11-29 15:12] #278 closed

[2021-11-29 17:16] Vallesuski commented on #275
Most likely all remote servers are Linux based, so I don't see how we could run RaceControl directly on the server.

When I press "download" currently on Windows version, it downloads from F1 server to local computer using ffmpeg? Or there is other job doing the download?

[2021-12-01 22:17] Jochem2500 commented on #273
I had the exact same issue as you, and your patch fixed it for me. Thanks!

[2021-12-02 10:15] robvdpol commented on #275
The download is performed by Flyleaf library, which indeed uses FFMpeg.

For Linux you might be better off using [f1viewer](https://github.com/SoMuchForSubtlety/f1viewer).

[2021-12-02 11:59] SmashRocket opened #280 "[FEATURE] Olav Mol (Grand Prix Radio) as a Dutch autotrack"
With Olav Mol being forced out as the Dutch F1 TV commentator after 30 years by Viaplay next year it would be great if you could add Grand Prix Radio (where he will continue with live reporting with an official F1 license) as an additional Dutch audio track and maybe add some options to sync audio to the video.

[2021-12-02 15:23] Vallesuski commented on #275
Yes, I'm aware of f1viewer. I use both: RaceControl and f1viewer.

I think we should close this feature.

[2021-12-03 23:06] jasonlitka commented on #273
Ok, so good news/bad news.  Good news is that with your new DLL Race Control no longer crashes.  Bad news is that instead, the files just randomly go to 100% and stop downloading, probably when it would have crashed with the original DLL.

[2021-12-04 06:35] SuRGeoNix commented on #273
@jasonlitka It seems like a network issue / read time out, possible firewall issue as well. You can verify this by checking the task manager (detailed) while downloading and check the bandwidth speed that RC uses. Do you still have issues also with playback?

[2021-12-04 12:28] jasonlitka commented on #273
I agree it sounds like a network issue, but I'm not sure how it could be.  I'm testing with two totally different computers in two different locations, my home, Verizon FIOS 1G/1G with OPNSense, and my office, Zayo 10G/10G with Fortigate. WS2019 works fine, W11 does not.

The download speed from Race Control isn't great, but it hovers between 20-40Mbps (Turkish GP P1).  If I try downloading 4 file

[2021-12-04 13:53] SuRGeoNix commented on #273
@jasonlitka Before re-install the whole OS you might look just for this specific error. It seems that some windows updates created a similar [issue here](https://docs.microsoft.com/en-us/answers/questions/569341/office-2019-apps-crashing-after-various-updates.html) that might help you.

Might this issue was also happening to others and RC was crashing.

[2021-12-04 19:53] Kristey opened #281 "Crash with external screen"
Every time I have my laptop connected to an external screen if I open more than 2 streams one the same time, the application crash.

This does not happen when I open 4 streams without an external screen connected.

[2021-12-07 09:21] chrcoluk opened #283 "[BUG] Download fails"
**Describe the bug**

It is an odd one as it worked first time, I deleted the files then decidedI wanted them again.

Now when I try to download any session I get the error.

"request resource doesn't contain a valid scheme for an empty client base URL (Parameter 'request')

It also invites me to read the log but I dont know where the log is stored.

**To Reproduce**

Start F! race control, try to

[2021-12-07 09:30] chrcoluk commented on #283
Additional info, I can download the post race show.

If I try to click on copy url to clipboard, it fails "an error occured whilst copying the url" for any of the race vod's.

It works for the post race show, so my fuess the issue is, it cannot find the url.

Please try to fix this I desperately need the pit lane and live timing vods again.

[2021-12-07 13:15] chrcoluk commented on #283
Think this was a F1TV issue, its working again now.

[2021-12-07 13:15] #283 closed

[2021-12-09 09:15] Heunen29 commented on #280
This would be awesome!!!

[2021-12-09 09:16] robvdpol commented on #280
I'll have to wait and see if this is possible.

[2021-12-12 11:11] AtlAntA118 opened #286 "[FEATURE] "Start from start" button."
Would be awesome if there was a button to start a session from the start whilst the session is in progress. Next to the "Watch" button for example. Also as an enhancement it would be nice to be able to rewind during a session and having other windows auto sync.

Thanks for this program. It has really enhanced my viewing experience!

[2021-12-12 12:27] Arcegis opened #287 "[FEATURE] In-App Version Upgrade Button"
**Is your feature request related to a problem? Please describe.**
Race Control displays a message indicating when a new version is available. This message also has a button that links to "Releases" GitHub page and allows us to download the latest version. However, when this message is dismissed, you have to close the player and re-open it, for the message to reappear.

**Describe the solution you

[2021-12-13 00:56] LeenVeen opened #288 "[BUG]"
2..5.4 portable, download mp4 crashes. No errormsg, random progress.

f.i. 2.3 portable, works but downloads .ts ,
and the LANG is wrong ([DE]German instead  the set [ENG]English

Concerns NON live files. f.i. todays " 2021 Abu Dhabi Grand Prix - World Feed" [Download]
.mp4 crashes. .ts download is oke.

live and play works oke

cannot find the log.

Win7x64
Pro account

[2021-12-13 12:12] AtlAntA118 commented on #286
I just noticed something similar was requested a few weeks ago. Feel free to merge.

[2021-12-13 14:53] sdssmit opened #289 "[FEATURE] Selectable audio device per window"
_First of all love this program. It's simply awesome._

I'd like to request the possibility to be able to select an audio device per window / stream. Which prevents all the audio being clumped together and being difficult to understand and let you customize the soundscape or audio balance of the broadcast.

 **For example:**
 Screen 1 : Live Feed -> Primary audio device / surround set.
 Screen 2:

[2021-12-13 22:26] noibla74 opened #290 "Download crash at 8%"
Download a feed leaves the app crashing at 8-9 % completion

[2021-12-13 22:48] noibla74 commented on #290
clicking the download buttun initiatiates the download of the video feed. However, the download stops around 8-10% and the Race Control app closes. Race Control 2.5.4

[2021-12-14 07:35] robvdpol commented on #290
Please check the log file and post relevant entries.

[2021-12-14 10:12] robvdpol commented on #290
Never mind, this has already been fixed but not released yet. I will create a new release this week.

[2021-12-14 10:13] robvdpol commented on #288
I will release a fix this week.

[2021-12-14 10:15] #289 closed

[2021-12-14 10:57] sdssmit commented on #289
Oh my, how stupid am I.

Thank you so much for an awesome aplication.. this just got 10x better for
me!

Op di 14 dec. 2021 om 11:15 schreef Rob ***@***.***>:

--
Steven Smit

A: Jagerbal 4, 5683KZ, Best NL
M: +31 (0)6 486 21 911 (private)
E: ***@***.***
nl.linkedin.com/in/sdssmit/

[2021-12-14 21:03] noibla74 commented on #290
Great, how do I get the logs?  would be nice to have a new release before 16 december

[2021-12-15 08:56] mvaneijken commented on #280
In the case of Grand Prix Radio you can find their stream on [https://playerservices.streamtheworld.com/pls/GRAND_PRIX_RADIO.pls](https://playerservices.streamtheworld.com/pls/GRAND_PRIX_RADIO.pls). This can easily be opened using fi VLC Player. If you consider this feature, I would suggest that the user can add any open stream as audio track to RaceControl.

[2021-12-15 08:58] mvaneijken commented on #281
I experienced the same issue using the internal player. Using VLC player instances 3 out of 4 instances often freeze (audio continues) for a while and then continues.

[2021-12-17 15:17] robvdpol commented on #290
Should be fixed in 2.5.5

[2021-12-17 15:17] #290 closed

[2021-12-17 15:17] robvdpol commented on #288
Should be fixed in 2.5.5

[2021-12-17 15:17] #288 closed

[2021-12-17 15:18] robvdpol commented on #272
Should be fixed in 2.5.5

[2021-12-17 15:18] #272 closed

[2021-12-17 15:19] robvdpol commented on #273
Please try version 2.5.5

[2021-12-17 15:19] #273 closed

[2021-12-25 22:54] jansuper26 opened #292 "[BUG]"
When i want to watch race in 30 onf the official F1 TV Website it worjks but not on your app.
A clear and concise description of what the bug is.

1. Go to 'Êvents'
2. Play stream 'Race in 30'
3. Press button '.watch'
4. See error

**Expected behavior**
Please look if you can do something about it

**Desktop (please complete the following information):**
 - Windows 11
 - 64 bit
 - Version 2.5.5

*

[2021-12-28 10:01] robvdpol commented on #292
Are you talking about the 'Race in 30' for the Abu Dhabi Grand Prix? That one works fine for me.

[2022-01-01 23:25] jansuper26 opened #296 "[FEATURE]"
Sometimes the races are downloaded in FX or in english.

Is there a way to decide which audio track is downloaded?
If not, i would like to see it.

[2022-01-02 23:56] lavaground commented on #274
The schortcut wasn't removed when updating to 2.5.5 :)

[2022-01-03 02:24] C0Nd3Mnd commented on #296
Downloaded videos should contain all available audio tracks. You have to switch to the desired audio track in the video player you're using, in VLC for example:

![image](https://user-images.githubusercontent.com/47672946/147895945-abd63da0-98bb-4674-a453-b61024a0c0ed.png)

Note that many (especially older) videos often only include 1-2 audio languages.

[2022-01-03 06:40] #296 closed

[2022-01-03 12:24] LukasBellaart commented on #281
i had the same issue when using the windows cast function so stream on my TV

[2022-01-11 20:19] jansuper26 opened #304 "[FEATURE]"
I would like to download the Jolyon Palmer Classic Analysis but cant find them in the program?

[2022-01-14 09:24] sweepglass opened #308 "[FEATURE] Ability to launch external command when new live session detected"
**Describe the solution you'd like**
When new live session is detected it would be awesome to launch external command or script with basic parameters passed to them.
$link $title etc.

Why?
We could do some really fun stuff with this. For example we could push notifications to the phone via webhooks or even launch home automation script when race starts, close drapes and dim lights :D

[2022-01-14 09:56] sweepglass commented on #308
`c:\mycoolscript.cmd $link $title`

[2022-01-15 20:36] Arcegis opened #309 "[BUG] All races prior to 2018 are unavailable"
**Describe the bug**
When we click on a year that is inferior to 2018, none of the Race Replays is available in any language

**Expected behavior**
For a given year from 1983 to 2017, all Race Replays should display and be able to be watched.

**Screenshots**
Hereby joined as an example. https://pixheb.ovh/images/1964dbefa13b43bd87704e5a2ef85df7.png

**Desktop (please complete the following inform

[2022-01-17 07:24] robvdpol commented on #309
F1TV didn't exist before 2018, so there are no events/sessions/channels for those years. You have to look under 'episodes' to see what's available.

[2022-01-17 07:24] #309 closed

[2022-01-19 02:58] Arcegis commented on #309
Wow ! Sorry for this post 🙇 I did not look where it was needed. Thank you for the heads-up !

[2022-01-19 03:08] Arcegis commented on #245
https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name=Behavior:Win32/SuspVaultEnumerate.C!cl&ThreatID=2147769671

Hello ! Given the info that is written on this link, it might mean that Windows Defender has not gotten enough information about this executable, and, as it is furthermore unsigned, is "framing" it and removing it from the system out of an abundance of caut

[2022-01-26 13:12] Beyorun opened #315 "Mobile voices"
He Rob,

One feature request and one question:

- Next season Olav Mol's commentary will (probably) not be the standard Dutch commentary, but...he will report on the races via Grandprix radio. Is it possible to have that audio as commentary during the race in Race Control?

- Is there a possibility to have Race Control on a mobile phone? Windows device? I don't know:)

Thanks,

Bjorn.

[2022-01-27 06:21] G0lfH0t3l commented on #245
Not sure of this is relevant / the correct "discussion" but this morning I got this notification from ESET Internet Security.
Offcourse I did not capture it but the original notification was triggered but something called "MS Telemetry".

When I access the program folder with Windows file explorer I get an almost identical notification as the first notification:

![racecontrol-01](https://user-ima

[2022-01-27 11:39] MXNOJBE opened #316 "Request resource doesn't contain a valid scheme for an empty client base URL(Parameter 'request')[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'
3. Press button '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I expected the video to get downloaded or get played

**Screenshots**
If applicable, add screenshots to help explain y

[2022-02-01 13:24] otoolejp opened #318 "[BUG] Graphical enlargement/disappearing issues with text, download percentage changes to gradient looking image"
**Describe the bug**
When hovering over any selectable text in application occasionally causes text to appear enlarged or disappear completely. When downloading files the percentage complete looks like a weird blue or orange colored gradient most of the time, sometimes it will display correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Program
2. Hover over any selectable text in

[2022-02-01 14:10] otoolejp commented on #318
Oh, and because I don't think developers are thanked enough:

Despite the issues I am very thankful for your work with Race Control. I like your GUI design, UI/UX is very intuitive. Program has a great ease of use and setup. If it weren't for the lack of a download queue (which I see has been requested) and the UI display issues (which I think are likely due to the the ultra wide monitor) I would

[2022-02-02 11:23] robvdpol commented on #318
Thank you for your support, it's very much appreciated.

Not sure about this issue, I think it will be difficult to reproduce and fix. Maybe it's a Windows 11 issue? I still have to upgrade my PC to WIndows 11, will do that soon.

The next release will be upgraded from .NET 5 to .NET 6, that might fix it as well.

[2022-02-17 09:10] pjarayuzu opened #325 "[FEATURE] Device Selection"
Hi,
I recently found the stream for MOBILE has a better quality(11700 kb/s vs 7600 kb/s, as the F1TV app and website shows).  I did not look into it carefully, so there may be a mistake.

If so,
· Is there a chance to select other device ?

[2022-02-17 10:57] menzo2003 commented on #280
It looks like it has been decided that Dutch commentary will not be in the official F1TV stream. So this feature would be greatly appreciated.

source: https://support.f1.tv/s/article/Who-are-the-F1-TV-live-commentators?language=en_US

[2022-02-17 12:09] menzo2003 commented on #315
Is a dupe of #280

[2022-02-17 23:00] Bananenprofeet commented on #280
This would be absolutely fantastic!

[2022-02-19 10:28] meyerdominik opened #326 "[FEATURE] Add RaceControl to winget"
Add RaceControl to winget: https://docs.microsoft.com/en-us/windows/package-manager/

I already created a manifest for you to submit (https://docs.microsoft.com/en-us/windows/package-manager/package/repository):
[RobvanderPol.zip](https://github.com/robvdpol/RaceControl/files/8101931/RobvanderPol.zip)

[2022-02-20 13:03] robvdpol commented on #326
Thanks, I'll look into it.

[2022-02-21 17:13] snowice0 opened #327 "[BUG] Login - The request has timed out"
**Describe the bug**
After recently updating Race Control I can no longer sign into the account via the app. The Previous version was the last one right before it was removed from the windows store (sorry I don't have the version number). I can login without issue on their website or android app and I have also checked to makes sure that I don't have too many devices connected (I don't). After uni

[2022-02-22 03:22] snowice0 commented on #327
For some reason I just tried again - after doing nothing other than trying again a few hours alter - and it suddenly works without issue

[2022-02-22 03:22] #327 closed

[2022-02-22 13:58] Monkeey opened #328 "Mac OS version"
Do we have any chance to see a Mac OS version of RaceControl in the future?
Thanks!

[2022-02-24 12:28] stefan5300 commented on #280
+1 for me as well !

[2022-02-24 12:42] wiljums commented on #280
+1

[2022-02-24 13:11] Edivad99 commented on #328
Probably yes, when using dotnet MAUI

[2022-03-05 09:58] araknis commented on #280
+10

[2022-03-09 19:51] dhuit90 commented on #280
[code]

+100 now

[2022-03-10 07:15] PostMalone opened #332 "[Q] Did F1TV move to .mp4 streaming from f1prodlive.akamaized.net m3u8?"
Bahrain testing just started and i immediately noticed that we are no longer getting _f1prodlive.akamaized.net_ M3U8 in Race Control client.

Is this due to F1TV or RaceControl? It seems like the stream is performing worse than before.

[2022-03-10 07:27] robvdpol commented on #332
This is due to F1TV, I can't control this. BTW stream works fine on my side.

[2022-03-10 07:27] #332 closed

[2022-03-10 07:39] bvanwiggen commented on #280
+1

[2022-03-10 07:43] PostMalone commented on #332
Got it. I thought so.

What i always did is Copy the M3U8 from RC then put it in my VLC and watch it. But now that I'm getting _ott-video-cf.formula1.com_ its no longer as stable as before.

However, watching on Website seems to be fine.

Thank you anyway mate.

[2022-03-10 09:22] Shantanu260696 opened #333 "Facing issue to start stream"
i see the attached issue when i click on watch
![Git cap](https://user-images.githubusercontent.com/101323943/157630980-d24c138e-7f90-4ff8-b2be-46c48fcf851c.JPG)

[2022-03-10 11:20] mudux commented on #333
Facing similar problem

My log below:
###
[code]

[2022-03-10 13:49] peponovich opened #334 "keeps asking me to download .NET 5.0 even though already did and installed"
wondering if anyone can help

Keep getting this when I try to run "RaceControl" installer
![image](https://user-images.githubusercontent.com/101339345/157675027-835fd847-9c20-47ba-994a-54437cd6ebb2.png)

Thanks.
P.

[2022-03-10 15:32] peponovich commented on #334
is just showing me this:
![image](https://user-images.githubusercontent.com/101339345/157696021-e8ee3ccb-a70d-4cf6-a46c-1bfccf27005d.png)

[2022-03-10 15:43] zRo-ToLeRaNcE opened #335 "Ability to Increase the Playback Speed of Videos"
**Is your feature request related to a problem? Please describe.**
When watching playbacks or videos, it would be great to able to increase the speed of the playback. Playback speeds for the internal player - 1.25x, 1.5x, 1.75x, and 2x - very popular.

**Describe the solution you'd like**
It can be either by right clicking OR just a button on the interface.

**Describe alternatives you've consider

[2022-03-10 18:31] robvdpol commented on #334
Please type 'dotnet --info' in a command line prompt and paste the output.

[2022-03-10 18:33] robvdpol commented on #328
Even then it will be tricky since Flyleaf depends on DirectX. External media players would probably work.

I'm aware of the demand for a Mac OS version but it's simply not feasible at the moment.

[2022-03-10 18:33] #328 closed

[2022-03-10 18:40] robvdpol commented on #334
By the way, the readme already redirects to .NET 6.0 desktop runtime, which is the incorrect one for the current release. The upcoming release will be .NET 6 though.

[2022-03-10 19:50] robvdpol commented on #335
I just added a basic implementation for this, but there's a limitation in Flyleaf in that it only supports 1x, 2x, 3x etc. and nothing in between. Hopefully @SuRGeoNix can improve that.

[2022-03-10 21:11] Edivad99 commented on #333
Do you have F1 tv access or pro?
In India, you can only have F1 Tv Access and some content is not visible. I have also found it that I live in Italy. The application does not tell you that those contents are not available in your subscription

[2022-03-10 22:03] zRo-ToLeRaNcE commented on #335
Ok thanks - Great to know it's being worked on. 2x and higher are a little too fast. That's basically fast forwarding. You can't really watch something and it be useful on 2x or greater unless you're an robot of sorts.

@SuRGeoNix - what say you?

[2022-03-11 08:01] SuRGeoNix commented on #335
@zRo-ToLeRaNcE, @robvdpol Sure. When I added this feature I had in mind only the performance (x2, x3, x4 just skip post-processing frames). I just worry that with the new implementation it will not skip frames at all and it will be really heavy -performance wise- on speeds x4, x8, x16. Ideally, I should mix both techniques but it will require more time effort.

[2022-03-11 10:06] mudux opened #338 "Do you have F1 tv access or pro?"

[2022-03-11 10:08] mudux commented on #333
I have pro..

The issue is resolved by logging out and logging back in.

Must be a bug.

[2022-03-11 10:09] #338 closed

[2022-03-11 10:09] mudux commented on #338
posted in error

[2022-03-11 10:12] Edivad99 commented on #333
Okay, we should still implement some kind of icon that indicates what content is only available for F1 TV PRO

[2022-03-11 11:25] robvdpol commented on #333
It's difficult since it depends on the region of the user. F1TV Access has different content in different parts of the world.

[2022-03-11 11:28] Edivad99 commented on #333
I think I saw in the JSON, some fields that said what subscription you need to have to see the video. We could use the JWT and see if the user has permissions to view.
Or perhaps use the response header to give a clearer message to the user.

[2022-03-11 12:05] zRo-ToLeRaNcE commented on #335
Ok thanks for the info!

I tried to donate to your FlyLeaf project but I notice you don't take contributions.

[2022-03-11 13:31] SuRGeoNix commented on #335
Thanks for that @zRo-ToLeRaNcE, I guess I will feel responsibility with the contributions when now is just a hobby.

[2022-03-11 23:02] JCAMAR0 opened #339 "[BUG] Missing first 10 seconds when downloading Episodes"
Downloaded Tech Talk for Day 1 & 2 of the Bahrain Pre-Season Test, but the video doesn't include the first 10 seconds.  Not a big deal for those specific videos, as the intro is longer than 10 seconds.  I then tried the Day 1 & 2 Wrap videos, and those also cut off the first 10 seconds.  As those videos do not have an intro, I am losing some parts of the conversation.  Tried with MPC-HC and VLC, s

[2022-03-12 09:50] woochi1 opened #340 "401 unauthorized [BUG]"
Hello , last year i used RC to watch F1 TV Pro , and it was amazing. But when i try to logg in it said me this msg "401 unauthorized" and i cant do anything, i reinstall program and download latest version , same happend.

So i make new account on F1 , and made new payment for this year ,and still i cant log in with new password and email.

Is there any solution?

[2022-03-12 13:02] IrishTLR opened #341 "[BUG] - Internal player stutters every 5 ish seconds. MVP and external Flyleaf are fine."
**Describe the bug**
New to RaceControl. Well done, fantastic program.

I've been testing the program today with 2022 Pre Session Test Day 3. Audio/Video is perfect with the MPV player. However the Internal player [the WATCH button] is spotty at best. Every 5 seconds or so, the audio and video pauses for a second or two, then resumes automatically. This happens every 5 to 10 seconds indefinitely o

[2022-03-13 18:13] CrosbyMGO opened #342 "[BUG] Can't login"
After putting my credentials and clicking login, this error appears: "The 'META' start tag on line 2 position 14 does not match the end tag of 'HEAD'. Line 4, position 3."

**Desktop (please complete the following information):**
 - Windows 10 Home Single Language
 - 64 bit

- F1TV PRO
- ARGENTINA
- Using VPN or proxy? = NO

[2022-03-13 21:57] woochi1 commented on #342
I cant log in to.. It said 401 Unauthorized

[2022-03-14 18:42] kleepMan commented on #342
@CrosbyMGO Can you try again? Tried to logout and the login again and it worked for me.

[2022-03-15 00:18] ForthtuN commented on #341
Seems my comment disappeared, however also having the same problems. Sound stutters, tested with different samplingrates to no help.

[2022-03-15 03:20] CrosbyMGO commented on #342
i'm trying to login for the first time, i can't logout from anything.

[2022-03-15 10:35] liquidacid opened #343 "[BUG] An error occurred while retreiving the stream URL."
**Describe the bug**
I can't start any streams or download streams (last will crash RC and leaves no log)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'

Above does trigger it

**Expected behavior**
Play the stream

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
Editie	Wi

[2022-03-15 12:55] timfrankentwf commented on #343
Which content are you trying to play? And which version are you running?

[2022-03-15 12:57] timfrankentwf commented on #342
Can you login successfully on the main website?

[2022-03-15 13:03] timfrankentwf commented on #340
Seems like the same with #342
Please fill in these questions:

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

    Windows edition and version :
    System type (32 or 64 bit) :
    Version (see title bar) :
    CPU :
    GPU :
    RAM :

**F1TV acc

[2022-03-15 14:30] woochi1 commented on #340
Windows 10 Pro x64
Sub F1 TV PRO
Bosnia and Herzegovina
Not using VPN

And problem is simple , no need to SS because i cant log in Race Control , when i open RC its auto open fill bar with email and password, i put correct info there and it said 401 unauthorized. Thats all i cant do or change anything from there.

And last year i used same RC and it worked well..

[2022-03-15 16:43] timfrankentwf commented on #343
Can you check if this solved your issue?

[2022-03-15 17:57] #343 closed

[2022-03-15 18:10] robvdpol commented on #340
If your error message says '401 - Unauthorized' then you're using an outdated version, possibly the Microsoft Store release? Please remove the Microsoft Store version and install the latest version of Race Control manually by downloading the MSI installer.

[2022-03-15 18:11] robvdpol commented on #342
Which version are you using? Please send a screenshot with the error as well.

[2022-03-15 18:12] robvdpol commented on #341
I'll release a new version which has the latest version of Flyleaf tonight. Please report back if the issue persists.

[2022-03-15 18:15] woochi1 commented on #340
Where to download latest version? Do u have link

[2022-03-15 18:19] robvdpol commented on #339
Fixed in next release.

2a5516e6535258d84b9e35e7e0b13a6df51c993a

[2022-03-15 18:19] #339 closed

[2022-03-15 18:55] c0nfu opened #344 "[BUG] Default language should not be zxx"
Hi,

when I download a race onto my computer and open it with VLC player, or on my TV, the default audio option is always "zxx", meaning pure sound without any commentary, despite the Default Audio Language being set to English. I always need to click on Audio in the VLC player and change it to audio track 2 which then contains the English commentary. This is for all videos. Is this a bug? Can it

[2022-03-15 19:04] scns commented on #340
https://github.com/robvdpol/RaceControl/releases

Met vriendelijke groet,

Maarten Schmeitz

Verstuurd vanaf mijn iPhone

Op 15 mrt. 2022 om 19:15 heeft woochi1 ***@***.***> het volgende geschreven:

﻿

Where to download latest version? Do u have link

—
Reply to this email directly, view it on GitHub<https://github.com/robvdpol/RaceControl/issues/340#issuecomment-1068307252>, or unsubscribe<https

[2022-03-15 19:21] kleepMan opened #345 "[BUG] Version 2.6.0 not starting"
**Describe the bug**
- Installed via the installer and clicked the RaceControl icon -> Nothing happens (even the logo doesn't show)
- Tried to run the portable version -> Nothing happens (even the logo doesn't show)

**Additional context**
Not sure if there is something wrong with my PC or not. I can run RaceControl from the Visual Studio and also if I publish it from the Visual Studio the app run

[2022-03-15 19:46] robvdpol commented on #345
Weird, is there an error in Windows event viewer?

[2022-03-15 20:11] kleepMan commented on #345
Actually the event viewer hangs and it's not working. I'm going to try to install the new version to my another PC tomorrow. I think somebody else would have complained already if this would have been a global bug for everybody. Might be just that my PC is messed up (even though publish via VS is working 😆 )

[2022-03-15 22:47] ForthtuN commented on #345
Note that you need to install the latest Net 6 Runtime, linked at the frontpage. It didn't start for me either while the previous versions did, install of Net runtime 6 fixed it. Guess alot of users are going to need to do that hehe

[2022-03-15 22:58] ForthtuN commented on #341
Wooohooo it seems like its working now, tested for a little while now and no stutter yet, whereas it was almost instantly after starting it before :)

So for me atleast, its fixed!

[2022-03-15 23:15] ForthtuN opened #346 "[BUG] MPV Autosync not working?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Check "Enable MPV Auto sync"
Start 2 streams, like World feed and driver
It will not sync

**Expected behavior**
It should sync i guess

**Desktop (please complete the following information):**
 - Windows edition and version: Windows 11 Pro 21h2
 - System type (32 or 64 bit): 64

**F1TV account**
- Subscript

[2022-03-15 23:58] tomnokoe opened #347 "[BUG] Chromecast load failed"
**Describe the bug**
Load failed when attempting to cast, very similar to https://github.com/robvdpol/RaceControl/issues/258

**Desktop (please complete the following information):**
 - Windows 10
 - 64bit
 - 21H2

**F1TV account**
- Subscription type PRO
- Country UK
- Using VPN or proxy? VPN

[Load failed error log.txt](https://github.com/robvdpol/RaceControl/files/8257931/Load.failed.error.log.

[2022-03-16 07:49] IrishTLR commented on #341
Problem persists for me even after uninstall and re-install. However, seeing as it's resolved for @ForthtuN, I'll assume that's it's a problem with my machine and happy to close the bug.

[2022-03-16 07:49] #341 closed

[2022-03-16 09:03] kleepMan commented on #345
Interesting. It really needs the .NET 6.0.3 version. Version 6.0.1 didn't work for me. But it's working now!

[2022-03-16 09:03] #345 closed

[2022-03-16 10:37] woochi1 commented on #340
Rob i downloaded latest version and all Net things ... and now it said that

"Request failed with status code Unauthorized"

[2022-03-16 10:40] timfrankentwf commented on #340
Meaning there is still a 401 error

[2022-03-16 10:40] robvdpol commented on #340
Are you 100% sure you are using valid credentials? Because this is normally the error you get when you use an invalid username or password.

I wonder whether the API might somehow be geo-restricted.

[2022-03-16 11:04] woochi1 commented on #340
There is one strange thing. After i delete all files from RC , and install new fresh RC aplication from link u sent me , when i open it, aplication automaticly fill the email and password colones with my old account where i dont have subscription.

I dont know how that happens if i install new version, there is some kind of way where is my PC still connected on old email and password even if i mad

[2022-03-16 16:04] c0nfu commented on #344
I just tested it with the new version 2.6, the issue is the same. I select English als Default language and then download a file, for example 1997 In Review: Australian Grand Prix, and when I open it with VLC the default audio track is the one without any commentary, just ambient sound. I need to click on Audio and manually select Audio Track 2 which contains the commentary.

[2022-03-16 16:53] Walddyk opened #348 "blijft me vragen om .NET 6.0 te downloaden"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'
3. Press button '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2022-03-16 18:18] robvdpol commented on #348
Please type 'dotnet --info' in a command prompt and paste the output here.

[2022-03-16 18:52] robvdpol commented on #348
You need to download the .NET 6 desktop runtime: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-16 18:52] #348 closed

[2022-03-16 19:35] Walddyk commented on #348
Hartelijk dank voor uw snelle reactie , race control werkt weer top

[2022-03-16 19:43] hoogends commented on #348
thanks!

Much appreciated

On 16-3-2022 19:52, Rob wrote:

[2022-03-16 21:47] cocaras opened #349 "[BUG] Just installed version 2.6 and keeps saying I miss something in the .NET"
Ok so the title says everything, I think.
I already installed the .NET 6 but this message keep opening and I can't use Race Control. Have I missed something?

![imagem](https://user-images.githubusercontent.com/101754427/158696380-2dbd5d0a-6464-4631-85e5-5e9aa29a41cf.png)

[2022-03-17 05:34] scns commented on #349
Do you have installed this dotnet (the runtime desktop)

https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

Met vriendelijke groet,

Maarten Schmeitz

Verstuurd vanaf mijn iPhone

Op 16 mrt. 2022 om 22:48 heeft cocaras ***@***.***> het volgende geschreven:

﻿

Ok so the title says everything, I think.
I already installed the .NET 6 but this me

[2022-03-17 05:44] cocaras commented on #349
Problem solved. Thank you.

I had both the .NET 5 and .NET 6 installed and apparently was making that mistake to happen. I uninstalled the .NET 5 and installed again the .NET 6 and now works perfectly.

[2022-03-17 05:44] #349 closed

[2022-03-17 07:38] RoabEnter commented on #280
+100 👍

[2022-03-17 08:40] 6th-avenue commented on #335
Hi @robvdpol @SuRGeoNix, thanks for implementing the video speed adjust options.
I agree with @zRo-ToLeRaNcE that 2x, 3x are great for fast-forwarding, but not so much for watching it at the same time.

With other videos I regularly use a slightly increased speed, to be able to see it all in less time.
I hope you can find some time to implement 1.25 - 1.5 - 1.75 speed adjust options somehow.

Than

[2022-03-17 09:45] scns commented on #280
Should be a very nice addition! at least for the live races

[2022-03-17 09:55] ch8rt commented on #334
Are you saying we should be using 5 and not 6 at this time? I have 6 installed, and I still get this message on startup, only without a specific version being detailed.

[2022-03-17 10:06] ch8rt opened #350 "[BUG] Incorrect .NET 6.0 download link"
The link in both the installation instructions in the readme and the alert box upon opening the app points to .NET core, rather than Desktop, which is required. (I assume core is not?)

[2022-03-17 10:12] robvdpol commented on #334
For the latest release (2.6.0) you need .NET 6 desktop runtime: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-17 10:12] #334 closed

[2022-03-17 10:17] robvdpol commented on #350
The link points to the .NET 6 download page, which is fine, you just need to select the correct download. I clarified the readme a bit.

I don't want to give a direct link because it will have to be updated for each minor .NET update (we are at version 6.0.3 right now).

[2022-03-17 10:17] #350 closed

[2022-03-17 10:20] ch8rt commented on #350
Yep, you're right. My mistake. :D

[2022-03-17 12:45] robvdpol commented on #347
I'll have to check, maybe they changed something again :/

[2022-03-17 15:25] Lolihunter1337 opened #351 "[BUG] RaceControl does not open anymore after updating to 2.6.0"
**Describe the bug**
It wont open anymore after updating
**To Reproduce**
Open RaceControl

**Expected behavior**
It should open

**Screenshots**

![image](https://user-images.githubusercontent.com/17437302/158834072-47b38407-aea7-438c-b9e2-9fff14d80095.png)

**Desktop (please complete the following information):**
 - Windows 11 Pro 22527.100
 - 64 bit

[2022-03-17 18:24] JPAhnen commented on #351
Did you install the .NET 6 Runtime? https://dotnet.microsoft.com/en-us/download/dotnet/6.0/runtime for Desktop apps

[2022-03-17 18:26] Lolihunter1337 commented on #351
yup
![image](https://user-images.githubusercontent.com/17437302/158870875-ffd3ff42-b902-4adf-b0a6-8a076b902446.png)

[2022-03-17 18:27] JPAhnen commented on #126
I have the same problem. The Chrome browser finds my Chromecast without problem, and casting works too. But Race control doesn't find my Chromecast, and no informations whatsoever are in the logfile.

[2022-03-17 18:28] #351 closed

[2022-03-17 19:45] timfrankentwf commented on #340
I believe those are saved within the windows credential manager, not the application itself.

[2022-03-18 07:06] robvdpol commented on #340
Correct.

[2022-03-18 08:32] RyadaProductions opened #352 "[Bug] FileLoadException when starting the application"
After the latest update I am unable to start the application.
There is no message shown to the user or anything.

The following is reported in the eventlog:
[code]

From my experience this is normally caused by an update in the dependencies and having mismatched file dependencies.

Compiling the source and running a fresh build seems to work just fine. It's just the upgrade from the previous versi

[2022-03-18 09:00] woochi1 commented on #340
I delete old pass from Windows Cred Manager, open Race Control type new password and new email. And still same problem with 401 Unauthorized. I google it on Net and it means that my email or password arent right , but thats not true , im logged at it on Google Chrome and it works on it , so its not possible thats email and password arent correct.

[2022-03-18 09:28] csutcliff commented on #352
The error is the WPF dll so part of the framework, make sure you have the latest .net 6.0 "Desktop Runtime" installed, https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-18 09:35] lucade2210 commented on #352
I had the same issue. Can confirm that this is the solution.

[2022-03-18 09:46] RyadaProductions commented on #352
I had the 6.0.3 preview installed due to personal development. Somehow it didn't resolve the dependency until I uninstalled the preview version and installed the release version as you stated above. Thanks for the help.

[2022-03-18 09:46] #352 closed

[2022-03-18 10:59] SmashRocket commented on #280
Any more insights yet on the possibilities? or shouldn't we hope for it to be included in the nearby future @robvdpol?

[2022-03-18 12:18] jpd1968 opened #353 "[BUG] Sound distorted internal player"
**Describe the bug**
When playing a feed in the internal player the sound is distorted. Playback in MPV or VLC gives good sound.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a feed
2. Play stream World Feed of any other

**Expected behavior**
A nice sound without distortion

**Desktop (please complete the following information):**
 - Windows 10 21H2 versie19044.1586
 - System type (

[2022-03-18 12:45] DaanSchuitmaker opened #354 "[BUG] Missing F1 Live Stream"
**Describe the bug**
In race control i'm able to select the world feed this reflects with the option "International" in the app.

But the App option "F1 Live" i'm missing in Race Control.

Channels added as image
Languages added as image
![Channels](https://user-images.githubusercontent.com/50987977/159005202-937b2d9c-02e4-407e-8f51-b1f07d7b45d8.png)
![Audio-chromecast](https://user-images.githubu

[2022-03-18 12:57] joao44289 opened #355 "[BUG] asking to install .NET runtime after having installed it."
**Describe the bug**
I am on Windows 10 with the latest version of race control installed, and it keeps asking me to install .NET runtime after having installed it. I have tried reinstalling .NET and using the portable and .msi versions of race control. Always the same error. Also tried restarting my computer several times.

**Desktop (please complete the following information):**
 - Windows editi

[2022-03-18 13:02] robertvissereindhoven commented on #342
I have the same issue...

![racecontrol error](https://user-images.githubusercontent.com/50362732/159007603-be7a6345-b506-4aa0-8f59-8e39a262c043.jpg)

[2022-03-18 13:05] robvdpol commented on #280
The main issue will be the audio syncing, since it will never be in sync with the F1TV video feed. Apparantly the Grand Prix Radio app and website has a slider to adjust audio sync. For now I would recommend using that.

[2022-03-18 13:06] robvdpol commented on #342
Version 1.8.0 is ancient, please download the latest release.

[2022-03-18 13:07] dhuit90 commented on #280
And you'll probably want to hear some racing sounds too, so you'll have to use to audiosteams which adds some difficulty I assue

[2022-03-18 13:07] robvdpol commented on #355
This has been posted multiple times in the past couple of days. You need the .NET 6 **desktop runtime**. Download it at https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-18 13:07] #355 closed

[2022-03-18 13:09] robvdpol commented on #354
Yep, they renamed the Pitlane Channel to 'F1 LIVE' and the World Feed is now called 'International'. I'll try to implement it today.

[2022-03-18 13:10] robvdpol commented on #280
As far as I know the Grand Prix Radio audio will have racing sounds as well.

[2022-03-18 13:20] robertvissereindhoven commented on #342
Ok, thanks, It is working now!

[2022-03-18 13:39] mbrouwer opened #356 "[BUG] Cannot open the RaceControl more than once"
Cannot open the RaceControl more than once. It now gives the error : The process cannot access the file 'C:\Users\<username>\AppData\Local\RaceControl\Flyleaf.log' because it is being used by another process.

**To Reproduce**
Steps to reproduce the behavior:
1. Open RaceControl
2. Create new Virtual Desktop (Win+Alt+D)
3. Open RaceControl
4. See error

The way I used the application was create mu

[2022-03-18 13:50] dhuit90 commented on #356
A work around might be using the portable version

[2022-03-18 14:04] mbrouwer commented on #356
Good idea, I wanted to try that, unfortunatly, same error...

It seems to have been introduced in https://github.com/robvdpol/RaceControl/commit/7ead463abb9ca72af243364abf1380c6a8e882fc with the upate to Flyleaf 3.4.7. Commenting ```LogOutput = FolderUtils.GetFlyleafLogFilePath(),``` in App.xaml.cs will fix it but I cant really judge disabling this log file would mean.

[2022-03-18 14:07] seth-space opened #357 "After update and updating dotnet-runtime RC keeps asking for net 6 and refuses to start."
used the intern link: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-6.0.3-windows-x64-installer
tried install, repair to no avail.

[2022-03-18 14:07] c0nfu commented on #344
@robvdpol Hi sorry to bother you, could you please also check this issue? Or should I open a new thread as this is more a bug than an implementation request? Thanks!

[2022-03-18 14:11] koshibb commented on #357
I have the same issue.

[2022-03-18 14:29] JohnLBergqvist commented on #354
Yes, they've renamed them in their front-end only. Their API still refers to the International Feed as "WIF" and F1 Live as "Pit Lane".

[2022-03-18 14:44] robvdpol commented on #357
Please type 'dotnet --info' in a command prompt and paste the output. Also, please check Windows event viewer for errors.

[2022-03-18 14:50] koshibb commented on #357
I was able to fix it by using NetFxRepairTool and reinstall NetCore from scrach.

[2022-03-18 14:51] seth-space commented on #357
Microsoft Windows [Version 10.0.19044.1526]
(c) Microsoft Corporation. Alle rechten voorbehouden.

C:\Windows\System32>dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.405
 Commit:    63325e1c7d

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19044
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.405\

Host (useful for s

[2022-03-18 14:53] koshibb commented on #357
@seth-space I was able to fix it by using NetFxRepairTool - https://www.microsoft.com/en-us/download/details.aspx?id=30135
And then reinstalled the correct version of both the desktop and dotnet version of 6.0.3 for x64.

[2022-03-18 14:54] robvdpol commented on #357
@seth-space Your output seems to suggest that the .NET 6 Desktop Runtime is not installed.

[2022-03-18 14:54] #357 closed

[2022-03-18 14:57] Caelarius opened #358 "[BUG] Muted streams in saved layout show up as muted, but produce audio"
**Describe the bug**
I have 4 streams (world feed, data channel, driver tracker, Max Verstappen boardcam) saved in a layout. When opening a session in the internal player the 4 streams open, and the audio button shows that the streams are muted. However, they put out audio.

Workaround: manually unmute and mute each channel again using the "toggle mute" button twice.

**To Reproduce**
See bug desc

[2022-03-18 14:57] seth-space commented on #357
But it is, several times including repair option.
Description: A .NET application failed.
Application: RaceControl.exe
Path: C:\Program Files\Race Control\RaceControl.exe
Message: It was not possible to find any compatible framework version
The framework 'Microsoft.WindowsDesktop.App', version '6.0.0' (x64) was not found.
  - The following frameworks were found:
      5.0.14 at [C:\Program Files\d

[2022-03-18 15:00] robvdpol commented on #357
Apparantly, the install of .NET 6 desktop runtime somehow fails on your machine. The error message is quite clear about that. This is not a Race Control issue.

[2022-03-18 15:06] seth-space commented on #357
i uninstalled all dotnet and installed the complete sdk
https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.201-windows-x64-installer
seems to solve it.

[2022-03-18 15:07] PieterPinpoint commented on #357
Had similar problems.
Link is for core installer. Problem solved by installing **desktop** version:

https://dotnet.microsoft.com/en-us/download/dotnet/6.0

[2022-03-18 15:12] robvdpol commented on #357
Yep the correct link is: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-18 15:13] Ascathon commented on #356
It's not just "more than once" but also just the scenario where you close the main window and open it again to start another stream. Probably exactly the same but just rewriting the issue.

[2022-03-18 15:22] IrishTLR commented on #356
When I'm running RaceControl, I only have one instance open but many instances of the player. Just keep clicking the WATCH [or MVP/VLC] button for the desired feeds. Resize players to suit.

[2022-03-18 15:26] IrishTLR commented on #346
MVP sync is experimental and ONLY works with live feeds, not with pre recorded streams. I have noticed some issues with the sync during live streams like auto syncing every 10 or 15 minutes. A bit annoying as it interferes with the race but not a blocker.

[2022-03-18 15:39] robvdpol commented on #354
Fixed in upcoming release.

[2022-03-18 15:39] #354 closed

[2022-03-18 15:39] robvdpol commented on #356
Fixed in upcoming release.

[2022-03-18 15:39] #356 closed

[2022-03-18 15:59] Deco71 opened #359 "[BUG] The application doesn't load"
**Describe the bug**
After Updating the Race Control to the latest version, i'm unable to open it.
I've also tried to reinstall it and i've .net 6.0 installed correctly on my PC

**To Reproduce**
Steps to reproduce the behavior:
1. Try to open the program
2. The RC logo doesn't show up and the app doesn't load

**Expected behavior**
The RC logo should appear and the app should start

**Desktop (pl

[2022-03-18 16:06] seth-space commented on #357
i used the link SC gave so probably change the link in the program?

[2022-03-18 16:17] JohnLBergqvist commented on #354
@robvdpol To be fair, the World Feed always has been technically the "International Feed". "WIF = Wide International Feed". (And NIF = "Narrow International Feed" which has 4:3-safe graphics)

[2022-03-18 19:11] wiljums commented on #359
I had the same issue, solved installing [this version of .NET 6.0](https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.201-windows-x64-installer)

[2022-03-18 19:52] SuRGeoNix commented on #335
Hi @6th-avenue, make sense, I will try to include it next week!

[2022-03-18 20:13] JohnLBergqvist opened #360 "[BUG] pre-2022 F1 session replays have the wrong channel names"
You've blanket renamed the World Feed & Pit Lane chanels to reflect the new names as of 2022, but this means the names for the channels pre-2021 are now wrong.

[2022-03-18 20:14] reharmsen commented on #359
I thought I had the same issue...
I installed the .NET 6.0.3 Runtime.. after installing the .NET 6.0.3 **Destkop** Runtime.. I got it solved.

[2022-03-18 21:13] Spexxel commented on #359
@robvdpol Shouldnt it be possible to publish RaceControl as self-contained? That way no-one needs to install the specific version themself.

[2022-03-18 22:33] Deco71 commented on #359
@wiljums Thanks a lot for the reply!
I've just tried and now Race Control works again.
I'm closing the issue

[2022-03-18 22:33] #359 closed

[2022-03-19 10:15] Possemaster opened #362 "[FEATURE] Hotkey Swappable FullScreen Streams"
I like to view F1 on TV. But I'd like to switch between views like on the F1TV App (Only they have a shitty app so I is not instant and you have to wait for the stream to catch up), Like three streams (Main Race view, Max Verstappen driver Cam and Statistics)
I like to be able to have those streams run at the same time layered on top of each other, but only 1 with audio that is in front. And as so

[2022-03-19 10:44] guido-visser commented on #280
Isn't it possible to add similar sync buttons for this in RC? It would be an absolutely awesome feature!

[2022-03-19 11:34] Creativesz commented on #346
It does sync for me, but always syncs to a 5 second difference. If i stream Live Timing and World feed, the latter is always 5 seconds behind.

[2022-03-19 12:43] Justmie commented on #347
Doesn't happen on the "old" Chromecast 2018 (non ultra).

Desktop

Windows 10
64bit
21H1
F1TV account

Subscription type PRO
Country NL
Using VPN or proxy? Nope

[2022-03-19 12:50] robvdpol commented on #362
You can kind of do this by using the M button (to toggle mute) and the 1-9 buttons to toggle fullscreen for a specific window.

[2022-03-19 13:24] jurjenarnold commented on #286
Already on his radar:
https://github.com/robvdpol/RaceControl/issues/276

[2022-03-19 13:48] robvdpol commented on #362
You don't even need the mute button, just pressing 1-9 switches fullscreen for a specific window. And when going fullscreen, it mutes the other windows and unmutes the current one.

[2022-03-19 13:48] #362 closed

[2022-03-19 13:48] robvdpol commented on #358
Can reproduce, will see if I can fix it.

[2022-03-19 13:49] robvdpol commented on #360
You're right, fixed in b5e65778cfe0a48e1bd21f05068cfde661748c17

[2022-03-19 13:49] #360 closed

[2022-03-19 13:52] Possemaster commented on #362
That is a lot of help already.
So when for example I have below Layout in JSON. Will the top one always have ID 1?

`{
  "Instances": [
    {
      "Top": 587.0,
      "Left": -4473.0,
      "Width": 3840.0,
      "Height": 2160.0,
      "FullScreen": true,
      "ResizeMode": 0,
      "VideoQuality": 0,
      "Topmost": false,
      "IsMuted": false,
      "Volume": 100,
      "Zoom": 0,
      "A

[2022-03-19 13:52] guberta opened #363 "Error to play via MPV "An error occurred while retrieving the stream URL""
It looks like that there is some exception not handled on source code. Have a look on the log attached.

It happened when I tried to watch most recent FP from Bahrein. It happened with the FP3 with all channels I get the same error.
[RaceControl.log](https://github.com/robvdpol/RaceControl/files/8309348/RaceControl.log)

[2022-03-19 13:54] robvdpol commented on #347
Works fine on my Chromecast Ultra as well. Which version of Race Control are you using?

[2022-03-19 13:58] Possemaster commented on #362
I use Open in MPV so it is borderless. 1 and 2 is Contrast change en 3 and 4 Brightness. Do i have to user the Internal preset? Or am I doing something wrong.

[2022-03-19 14:05] robvdpol commented on #362
Yes I'm talking about internal player. For MPV I cannot control its behavior.

[2022-03-19 14:06] robvdpol commented on #362
Yes the first one should always have ID 1.

[2022-03-19 14:15] FinnBerkers commented on #347
Happens for me as well on a 2020 Chormecast with android TV.
it just doesn't see the chomecast while google chrome (the browser) on the same device can connect to it fine.

the Race Control version is 2.6.0.

Desktop

Windows 10
64bit
Unsure?
F1TV account

Subscription type PRO
Country NL
Using VPN or proxy? Nope

[2022-03-19 14:20] robvdpol commented on #347
@FinnBerkers That's a different issue. Did you select the right network interface in the dropdown box? Not much I can do about it otherwise, probably some network issue that Googlecast library doesn't support.

[2022-03-19 14:31] #240 closed

[2022-03-19 14:37] FinnBerkers commented on #347
@robvdpol Yes I did test all of the different Network interfaces (even though it defaulted to the one I'm actively using) but it only showed the loading icon on one of them and then nothing more happened.
I am new to this amazing piece of software so I'm not sure what's supposed to happen, but there's something right?

[2022-03-19 14:38] robvdpol commented on #358
Fixed in 7c24a5a43eca6a544d0530216ea68645f5cedd8d

[2022-03-19 14:38] #358 closed

[2022-03-19 14:39] robvdpol commented on #353
@SuRGeoNix any ideas?

[2022-03-19 14:43] Spexxel commented on #363
Looks like the stream url was empty which resulted in the validation error.
Was this a hickup or does the error still occur?
And if it still occurs: which version of RC are you using?

[2022-03-19 14:47] FinnBerkers commented on #347
@robvdpol So the issue was that there was a windows update from before the release of the latest version of Race Control which I hadn't installed yet... did that and all worked perfectly.

[2022-03-19 14:53] asgarder commented on #363
Having the same issue with versions 2.6.0 and 2.6.1, on every single stream and option (Drivers, World Feed, MPV, "Watch"). Cannot watch any stream

[2022-03-19 15:08] Spexxel commented on #363
Bit hard investigating with little info. Could one of you provide a filled-in BUG-template?
[code]

[2022-03-19 18:12] SmashRocket commented on #280
Tried running VLC with the input-slave to run the video with the GPradio audio stream but couldn't get it to work. Most of the players have a way to play with the audio offset. Couldn't get it to work in the end that way. Would be cool if we could get that (audio stream, 'simple' sync buttons)

[2022-03-19 20:16] rsporsche opened #364 "[BUG] Fails to stream with MPC-HC or VLC"
**Describe the bug**
When trying to watch with MPC-HC or VLC, MPC-HC shows the error "Failed to render the file" and doesn't play and VLC also fails to play and I see the following errors in the debug messages:

"adaptive error: Failed reading https://ott-video-cf.formula1.com:443..."
"adaptive error: Failed to create demuxer 0000000000000000 Unknown"

**To Reproduce**
Steps to reproduce the behav

[2022-03-19 20:20] rsporsche opened #365 "[FEATURE] Support MPC-BE as an external media player"
F1 Race Control supports MPC-HC and VLC as external players.

MPC-HC is no longer under development since 2017 (see https://mpc-hc.org/2017/07/16/1.7.13-released-and-farewell/)

MPC-BE is a media player based on MPC and MPC-HC which is still under development and I think it would be a good alternative.

https://sourceforge.net/projects/mpcbe/

[2022-03-19 21:53] Spexxel commented on #344
When downloading a file Race Control does not specify which audio track to download or which one to use when the file opens. All it does is get the file/stream as F1TV provides with all available audio tracks for it.

When you open the downloaded file VLC knows nothing about the settting in RaceControl since the file wasnt opened through RC, which means VLC will use the default audio track. Which

[2022-03-20 00:02] drag0nst0ne opened #366 "[FEATURE] Maybe 5.1 sound??"
I don't know if its already possible to do. But I was watching a replay the other day and I was able to listen the audio in 5,1 channels. Now, after the new updates I'm not getting that.

[2022-03-20 01:50] CrosbyMGO commented on #342
yep i managed to do the same, and now it works ! thank you all for the replies :)

[2022-03-20 06:09] Johnwulp commented on #280
What should work is to add this in the mpv external parameters
`--audio-file="https://playerservices.streamtheworld.com/api/livestream-redirect/GRAND_PRIX_RADIO.mp3"`

All you need to do is sync it with ctrl + and ctrl -

<img width="205" alt="image" src="https://user-images.githubusercontent.com/879840/159150465-053b33b7-bc51-402b-bf44-5e9141ef3b65.png">

[2022-03-20 07:15] SuRGeoNix commented on #353
@robvdpol Not really, nobody complained so far for similar issue. As you use the same feeds and you don't have issues I guess it's a hardware soundcard issue.

@jpd1968 Can you please provide more information and a log file? Do you have more than one soundcards? Does distorted mean slower or faster sample rate (Hz)? Does it happen all the time or with some specific feeds and audio tracks?

[2022-03-20 08:15] MXNOJBE opened #367 "Do I need F1TV subscription to use this Application??"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'
3. Press button '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2022-03-20 08:22] scns commented on #367
Yes. You need an subscription.

Met vriendelijke groet,

Maarten Schmeitz

Verstuurd vanaf mijn iPhone

[2022-03-20 08:29] MXNOJBE commented on #367
Thanks a lot for assisting

Met vriendelijke groet,

Manoj B E

[2022-03-20 08:29] #367 closed

[2022-03-20 08:30] #316 closed

[2022-03-20 08:49] jghaanstra commented on #280
Nice one, this seems to work just fine!

[2022-03-20 09:11] jpd1968 commented on #353
I'll run some tests and provide the logs. The answers to your questions  as
far I can tell from my workstation, which is not the device RC is installed
on. Further on I will install it on another device and circle com back to
you.

*Can you please provide more information and a log file?*I'll run some
tests on different hardware and sent the results including logs.
*Do you have more than one sound

[2022-03-20 10:49] jpd1968 commented on #353
[RaceControl.log](https://github.com/robvdpol/RaceControl/files/8311026/RaceControl.log)
[Laptop_Spec.txt](https://github.com/robvdpol/RaceControl/files/8311050/Laptop_Spec.txt)

It is definitely device specific, on my Game PC I've no problems. On my laptop (see specs and log) it is still stuttering audio. Live and replay. Only the internal player. See no errors in the log. See example video.

htt

[2022-03-20 11:42] reharmsen commented on #280
Anyone knows whether it would be possible to also use something like this with Cast.
Would be nice to have F1 video and GP-Radio in one stream on Chromecast

[2022-03-20 12:45] mbrouwer commented on #353
I have the exact same problem but only in the following conditions:
- External display (TV) in "Extend Desktop" projection mode
- When the screen is dragged to the external display
Disabling some optimizations in the TV fixed this but the quality is less, using the HDMI in on my receiver fixed it also, but I feel I dont have the highest video either.

The reason I wanted this is so I can also list

[2022-03-20 12:58] asgarder commented on #363
My bad, and probably the same issue that @guberta is having. I was trying to play with an inactive account.
The error message could have been a bit more obvious, but that's a feature request and not a bug 🙂

[2022-03-20 13:22] xantrk commented on #126
Same here, but only using VPN. It can scan some of the interfaces, but doesnt scan some.

[2022-03-20 13:45] SuRGeoNix commented on #353
@robvdpol Can you give the right direction to @jpd1968 to provide us with the Flyleaf log (if possible)?

@jpd1968 The problem seems to be with the GPU, maybe you have notice also frame drops? Your laptop has two GPU adapters and it's possible for some reason that it uses the 'wrong' one which is not able to perform hardware decoding and causes the audio issue.

[2022-03-20 13:54] jpd1968 commented on #353
[Flyleaf.log](https://github.com/robvdpol/RaceControl/files/8311362/Flyleaf.log)
Yoe mean this, its from 2.6.0? @SuRGeoNix

Tried both adapters, assigned them with the Nvidia settings but the result was the same.

[2022-03-20 14:02] Spexxel commented on #363
Good to hear. The error message or logging could indeed be more specific in this case.
FYI: You can also check your subcription status on the bottom left in RaceControl ;)  :

![image](https://user-images.githubusercontent.com/5929773/159166099-70d8810a-da18-47b5-ba9d-7d9b0e3f1164.png)

[2022-03-20 14:02] SuRGeoNix commented on #353
@jpd1968 Yes that one but it misses the initialization. It's clear though that it drops also video frames which means that it probably uses the intel GPU adapter which can't handle the video playback properly.

[2022-03-20 14:05] jpd1968 commented on #353
All right, but when a assign the Nvidia adapter the sound problem still
exists, for now I'll us the MVP player. If you want more information pleas
ask.

Op zo 20 mrt. 2022 om 15:02 schreef John Stamatakis <
***@***.***>:

[2022-03-20 14:06] SuRGeoNix commented on #353
@jpd1968 How do you assign the NVidia? You need to see the logs to ensure which card Flyleaf uses. I'm quite sure it uses the slow one.

[2022-03-20 14:19] jpd1968 commented on #353
In the Nvidia settings you can assign the program to integrated graphics or
the Nvidia. But you're right I can't confirm it.

Op zo 20 mrt. 2022 15:06 schreef John Stamatakis ***@***.***>:

[2022-03-20 14:27] jpd1968 commented on #353
[Flyleaf.log](https://github.com/robvdpol/RaceControl/files/8311414/Flyleaf.log)
I disabled the Intel GPU same result. Use 2.6.0 so here is another flyleaf log.

[2022-03-20 14:59] Caelarius commented on #358
Confirmed fixed. Tyvm.

[2022-03-20 15:02] expor opened #368 "[BUG] Race Control 2.6.1 does not start due to .NET error (.NET is installed)"
**Describe the bug**
Race Control does not start on latest version due to .NET error. .NET 6 is installed however! It worked fine on earlier versions.

![image](https://user-images.githubusercontent.com/8403232/159168642-69e2ceee-980e-4fcf-9e8c-24ff9036ae9a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Start Race App 2.6.1

**Expected behavior**
I expect installing .NET 6 to fix the i

[2022-03-20 15:07] ericvanvoorthuizen opened #369 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'
3. Press button '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2022-03-20 15:27] rrigby49 opened #370 "[FEATURE] Add an option to select video feed within each internal player window (similar to audio track and video quality)"
**Is your feature request related to a problem? Please describe.**
I often have a layout of driver cams on a 2nd monitor and I rarely want the same driver cams through the entire race, but changing them requires opening the new driver cam and positioning it in the right place.

**Describe the solution you'd like**
In the internal player, please add a dropdown that lets you change the video feed. S

[2022-03-20 15:27] SuRGeoNix commented on #353
@jpd1968 Can't see the details because of the Flyleaf's log level. However is clear this line

[code]
Which means that probably uses the intel and fails to activate the video/hardware acceleration. I have no idea why by default directx returns this GPU. I will try to resolve it with the next updates but ideally @robvdpol could expose Flyleaf.Config.xml for more advanced configuration such as this

[2022-03-20 15:28] hvdmeer commented on #368
I had the same problem and solved it by installing .NET runtime 5
I uninstalled that version due to the message in the latest update

[2022-03-20 15:37] expor commented on #368
I have 4.6, 4.8, 5.0 and 6.0 installed but no luck:
![image](https://user-images.githubusercontent.com/8403232/159170283-b8463c86-c67a-4f0a-95d3-dea08da4f844.png)

[2022-03-20 15:44] SuRGeoNix commented on #353
@mbrouwer Feel free to open a new issue (even directly in [Flyleaf](https://github.com/SuRGeoNix/Flyleaf)). I'm not sure how by disabling some optimizations in the TV fixes it (what kind of optimizations? HDR?). Are other players work properly, might your GPU can't handle a 4K TV?

[2022-03-20 16:08] hvdmeer commented on #368
I don't see the desktop runtime it stated
![image](https://user-images.githubusercontent.com/7062995/159171515-9047022d-1d36-4f33-bfca-916efcbfe878.png)

[2022-03-20 16:11] expor commented on #368
I see, that fixed it. Was not ware there's a difference between 'Runtime' and 'Desktop Runtime' and I missed there's different options on the .NET6 download page :\

[2022-03-20 16:11] #368 closed

[2022-03-20 16:54] SmashRocket commented on #280
Used https://22323.live.streamtheworld.com/GPRDANCE.mp3 as a backupstream today with an offset of 20600. Would be cool if that stays the same :)

[2022-03-20 17:20] xantrk opened #371 "[BUG] Unable to seek back or forward, sync button unavailable during livestream"
**Describe the bug**
Unable to seek back or forward, but able to pause and unpause from that moment so you are technically seeked back but not forward. This was a pain to sync live feeds with my other device because of this. Is this expected behaviour?

**To Reproduce**
Steps to reproduce the behavior:
2. Play a live stream
3. Press button seek, or sync.
4. Buttons are disabled and has no effect

[2022-03-20 17:25] markhewitt1978 commented on #276
Now that the F1TV app has a start from beginning option is there now a way for this to be included in race control?

[2022-03-20 17:29] rickschwarz opened #372 "Pitlane channel"
Is the Pitlane Channel removed.
I dont see the option ?

[2022-03-20 17:34] mbrouwer commented on #353
Yeah all other players are working fine and its indeed the HDR/4K optimization which I can set per HDMI in. Tried to force the RaceControl app to not use the GPU but it still shows 26% GPU - Decode in task manager. Like I said, not a big issue for me as I'm not using the audio from the stream anyways and can always try to use another laptop.

[2022-03-20 17:36] mbrouwer commented on #372
I believe that has been renamed to "F1 Live" in 2.6.1
https://github.com/robvdpol/RaceControl/releases/tag/2.6.1
`Renamed 'World Feed' to 'International' and 'Pit Lane' to 'F1 Live' (2022 season)`

[2022-03-20 17:50] rickschwarz commented on #372
Yes i know but it did not show the pitlane channel.
It shows the same as international. Worldfeed

[2022-03-20 19:06] xantrk commented on #147
Bumping this up since internal player sync while live appears to be broken.

MPV does a good job syncing internally, but I also want to delay them all to sync it with main feed in my TV (which is using a tv app). Is this possible with disabling one window with SHİFT+A pausing it a few seconds and resuming, will the other tabs keep in sync with the ? How can I achieve this?

[2022-03-20 21:12] rickschwarz commented on #372
Please tell me what to do

[2022-03-21 02:58] ForthtuN commented on #372
As i think they said, it has been removed and replaced.

[2022-03-21 05:45] Conundhum commented on #276
Upvote for this. Fantastic app but that was the longest 45 minutes of my life today waiting for the race to finish so I could watch from the start.

[2022-03-21 07:46] robvdpol commented on #372
As sais, the PLC from before is now called F1 Live, and it doesn't show the pit lane anymore. It's basically the world feed with a different commentator team.

[2022-03-21 07:46] #372 closed

[2022-03-21 08:02] robvdpol commented on #366
F1TV streams only have 2 channel audio, so this is not possible.

[2022-03-21 08:02] #366 closed

[2022-03-21 08:07] molislaegers commented on #346
Live Timing, Driver location and Live feed do sync.. When I add a Driver feed, it doesn't sync..

Works MPV autosync on Audio track maybe?

[2022-03-21 08:14] molislaegers commented on #308
I don't think modern anti-virus software will like this..

[2022-03-21 08:22] #369 closed

[2022-03-21 08:26] robvdpol commented on #365
Last time I checked MPC-BE couldn't open the F1TV streams, but that may have changed recently. I'll have to check again.

[2022-03-21 08:28] rsporsche commented on #365
Ok, I got an error message like "failed to render the file" when trying to open the link in MPC-BE but it also fails to open with MPC-HC and VLC for me so I figured it wasn't related to the player. (I raised another issue regarding the failure to play with MPC-HC or VLC)

[2022-03-21 08:42] robvdpol commented on #344
As @Spexxel said, there's not much that can be done about this. It's VLC that determines which audio track it opens by default, so I would recommend looking into VLC settings to try to fix that.

Also, as far as I'm know VLC doesn't have a command line parameter to select the audio track, that's why Race Control doesn't support the preferred audio language for VLC.

[2022-03-21 08:42] #344 closed

[2022-03-21 08:44] robvdpol commented on #365
VLC should definitely work. I'll look into MPC-HC and MPC-BE soon.

[2022-03-21 08:57] rsporsche commented on #365
Ok, Just found out that MPC-HC is being somewhat maintained here: https://github.com/clsid2/mpc-hc

I couldn't find a download link for these releases but it seems to be part of the K-Lite codec pack: https://codecguide.com/download_kl.htm

And after installing that it works for me. MPC-BE has been my preferred media player for some time but I think MPC-HC is ok at least for F1 so I we can close t

[2022-03-21 08:59] rsporsche commented on #364
This can be closed, I found that MPC-HC is still maintained and installed the version with the K-Lite codec pack from here: https://codecguide.com/download_kl.htm

It now works.

After that I also downloaded and reinstalled VLC and that works too. I don't know what the problem was.

[2022-03-21 08:59] #364 closed

[2022-03-21 14:06] zierbeek opened #375 "[FEATURE] Will there ever be Mac support?"
hi! Great piece of software, my vm was a bit slow with it so unable to do it that way. Maybe bootcamp can help !

Is there a feature plan to release this beautiful piece on Mac?

[2022-03-21 14:07] #375 closed

[2022-03-21 15:29] KroontjesPen opened #376 "[BUG] Race Control missing frameworrks for .NET"
Windows Home 10/64. Version 21H2. Build 19044.1586.
dotnet-runtime-6.0.3-win-x86.exe
dotnet-runtime-6.0.3-win-x64.exe

Also both files with CCleaner deleted and installed again.

[2022-03-21 17:53] robvdpol commented on #376
You need the desktop runtime.

Duplicate of issue #355 (and many others).

[2022-03-21 17:53] #376 closed

[2022-03-21 19:04] SuRGeoNix commented on #335
@robvdpol I've included it this to v3.4.10

[2022-03-21 19:06] robvdpol commented on #335
Great!

[2022-03-21 19:39] zRo-ToLeRaNcE commented on #335
Oh yes... that's why I try to contribute to excellent projects like these. I have no idea why F1 haven't approached you to buy this yet. It's amazing!

[2022-03-22 06:37] Jacques-eMediaIT opened #377 "[FEATURE] Default Volume"
Please add the option to remember and apply the default volume :)

[2022-03-22 06:38] Jacques-eMediaIT opened #378 "[FEATURE] Extended Highlights"
Please add the feature to watch / download the extended highlights (30min) for races.

[2022-03-22 06:39] Jacques-eMediaIT opened #379 "[FEATURE] Choose quality when downloading"
Please add the option to choose the quality when downloading races. Or does it use the default quality that's been set?

[2022-03-22 06:42] robvdpol commented on #379
It uses the default video quality from settings.

[2022-03-22 06:42] #379 closed

[2022-03-22 06:45] robvdpol commented on #378
It's already there under episodes:

![image](https://user-images.githubusercontent.com/56960828/159423288-d91a8843-c0bd-4995-9314-e62124faa3d8.png)

[2022-03-22 06:45] #378 closed

[2022-03-22 06:47] Jacques-eMediaIT commented on #378
Thanks, I missed that - was looking for it under sessions. btw, thanks for the cool and useful app and your time + effort :)

[2022-03-22 06:58] Jacques-eMediaIT commented on #378
btw, I've developed a couple of C# WPF apps and I've used this package to easily apply themes: https://mahapps.com/

[2022-03-22 09:34] 6th-avenue commented on #335
Hi @SuRGeoNix , thanks for the fast turn-around, much appreciated 👍

[2022-03-22 23:55] eXhumer opened #381 "[BUG] Everything throws "Request timed out", nothing works"
**Describe the bug**
Nothing in the application works. F1TV website works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application. Takes 30 seconds and the spits out "Request timed out".
2. Click on any season. Takes 30 seconds and the spits out "Request timed out".

**Expected behavior**
For any and all aspects to work.

**Screenshots**
![image](https://user-images.githu

[2022-03-23 07:17] sweepglass commented on #308
Why would it be issue? We are already launching external programs (Vlc, mpv).

[2022-03-23 12:08] dhuit90 commented on #335
Flyleaf had added support for more common playback speeds in the latest release

https://github.com/SuRGeoNix/Flyleaf/releases

[2022-03-23 13:45] eXhumer commented on #381
Everything seems to be working fine today. Not sure what was going on before. Closing this now as I no longer is having this issue anymore.

[2022-03-23 13:45] #381 closed

[2022-03-23 15:10] jarube commented on #280
+33

[2022-03-23 15:16] harerton opened #382 "[BUG] Message "dispatcher processing has been suspended but messages are still being processed""
Hi,

Whenever I try to play something I get the message "dispatcher processing has been suspended but messages are still being processed".

The playback window opens but nothing happens.

F1TVPro, accessing from Brazil.

W10 Pro 64 21H1

Thanks!

[2022-03-23 18:36] Spexxel commented on #382
- What race control version are you running?
- Does this happen for every stream/content? (Events/episodes)

[2022-03-23 20:18] harerton commented on #382
Hi,

Latest version (2.6.1) and it seems to happen with every content. I haven´t tested with live streams yet, as I´ve just started my F1TV Pro subscription.

Thanks!

De: Khaak ***@***.***
Enviada em: quarta-feira, 23 de março de 2022 15:36
Para: robvdpol/RaceControl ***@***.***>
Cc: harerton ***@***.***>; Author ***@***.***>
Assunto: Re: [robvdpol/RaceControl] [BUG] Message "dispatcher processin

[2022-03-23 20:30] lonestarr1986 opened #383 "[BUG] .NET Framework installed (6.0.3 tried and 7 preview tried), but says I have not"
**Describe the bug**
RaceControl says I am missing .NET Framework, I have tried installing 6.0.3. as well as 7 preview, yet displays the same error that I have not installed it.

**To Reproduce**
Steps to reproduce the behavior:
1. Installing latest version (2.6.1)
2. Starting RaceControl
3. See error

**Expected behavior**
Well, I expected it to run :)

**Screenshots**
![Bild_2022-03-23_212552](h

[2022-03-23 21:02] lonestarr1986 commented on #383
I am a fucking idiot, please ignore this. I installed the SDK instead of the Desktop runtime.

[2022-03-23 21:02] #383 closed

[2022-03-23 21:12] Spexxel commented on #382
Hi, Thanks for your reply.

Couple of things:
- Are you able to watch F1TV content through the F1TV website?
- Can you provide the RaceControl log file? You can open the file through RaceControl, top left, File -> Open Log File

[2022-03-24 13:39] harerton commented on #382
Hi,

Yes, I can watch through the website.

I have attached the log file.
[RaceControl.log](https://github.com/robvdpol/RaceControl/files/8341911/RaceControl.log)

Thanks

[2022-03-24 19:49] TheReptile commented on #365
@rsporsche The download links can be found on https://github.com/clsid2/mpc-hc/releases
I use MPC-HC with RaceControl without problems.

[2022-03-25 08:55] arjanhs opened #384 "[BUG]"
**Describe the bug**
After updating to the latest build I got the error message that i have to install some missing frameworks for .NET, after installing the same message appears again

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/42713716/160088103-a27b6f2e-df4b-41f9-8de4-04ab5518fa50.png)

**Desktop (please comple

[2022-03-25 08:58] arjanhs commented on #384
The used URL when hitting the Yes button in the screen leads to another download file then which is added into the description, with the one in the description the app is working.

[2022-03-25 09:01] robvdpol commented on #384
Yes, I think it's a limitation of the installer.

[2022-03-25 09:01] #384 closed

[2022-03-25 11:03] sidewinder94 opened #385 "[FEATURE] Introduce an auto-update mechanism"
**Is your feature request related to a problem? Please describe.**
Needing to manually download and apply updates is a chore.

**Describe the solution you'd like**
Implementing some sort of auto-update mechanism.
For example : [Squirrel](https://github.com/Squirrel/Squirrel.Windows) (Which would also allow not to have to build a .msi anymore)

**Describe alternatives you've considered**
- Scoop /

[2022-03-25 11:06] sidewinder94 commented on #385
I saw #287 however, this proposal would allow not to bother the user since the upgrade would be done either on the background or after the user is finished using the application.

[2022-03-25 12:16] kwiznix opened #386 "[BUG] Can't run version 2.6.1 because of missing .NET which I already have installed"
When using the newest version (2.6.1) in with msi file and standalone version i got the message that I should download a version of .NET which I already have installed. As you can see in the second screenshot, I only have the repair, remove and close option.

When I've downloaded my previous version (2.5.5) again, and that version starts without any problem.

![image](https://user-images.githubuse

[2022-03-25 12:42] robvdpol commented on #386
Duplicate of #355

[2022-03-25 12:42] #386 closed

[2022-03-25 13:06] robvdpol commented on #385
I've been pondering about which installer technology to use in the future. Squirrel is indeed an option, it's cool that it has built-in support for GitHub. However the project seems a bit 'stale', not sure whether it has a future?

Scoop and Chocolatey are too complicated for regular users IMO. I don't want that users need to mess with Powershell and command prompts too much.

ClickOnce seems very

[2022-03-25 13:09] robvdpol commented on #385
Also, #326

[2022-03-25 14:13] eXhumer opened #387 "[BUG] F1 Live channel no longer picked up by application due to internal name change"
**Describe the bug**
F1 Live channel is now called "F1 LIVE" internally instead of "PIT LANE". As a result, RaceControl can't pick it up due to hardcoded detection used by RaceControl (https://github.com/robvdpol/RaceControl/blob/master/RaceControl/RaceControl.Common/Constants/ChannelNames.cs#L6)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 2022 Season, Saudi Arabia Grand Prix, Prac

[2022-03-25 14:19] bkbartk commented on #353
I have the same issue while dragging the player to another screen of other location of the screen.
the audio starts stottering.
I changed the graphical driver from intel to Nvidea but it doesn't make any difference.

I just notice now, the issue does not occur if I use MPV instead of Watch

[2022-03-25 14:53] robvdpol commented on #387
I will change it to 3.0, was already planning to do so.

[2022-03-25 15:16] xantrk commented on #371
@robvdpol Is it expected to work?

[2022-03-25 15:48] robvdpol commented on #387
Should be fixed by e047d92599ddf25af7ffb03a755b2877e12db2c7

[2022-03-25 15:48] #387 closed

[2022-03-25 15:49] robvdpol commented on #382
Do you have latest version of .NET 6 Desktop Runtime installed (currently 6.0.3)? Otherwise try reinstalling it.

[2022-03-25 15:54] SuRGeoNix commented on #353
@bkbartk This sounds like a different issue as it happens to you only when you drag it to different screen. Can you try set the primary screen maybe to the other monitor and see if that still happens? I will try to find a way to reproduce it and fix it in to the upcoming versions.

[2022-03-25 15:58] tankaan opened #388 "[BUG] Recording is Not Working"
**Describe the bug**
I tried to record a part of the todays practice session (F2), record button is clickable but it's not functioning.
I also tried to record some older sessions, I couldn't record them aswell.

**Desktop (please complete the following information):**
 - Windows 10
 - 64 bit
 - 21H1

**F1TV account**
- Subscription type (Pro)
- TR
- Using VPN or proxy? NO

**Additional context**
A

[2022-03-25 16:29] robvdpol commented on #335
Kind of fixed in 92ad45fa41001ea0948f3392aeb60885a12220f0

However there seems to be an issue, whenever I speed up or slow down the playback speed my sound is crackly. Only at 1x speed the sound is ok.

@SuRGeoNix thoughts?

[2022-03-25 17:23] Rhytmick opened #389 "[BUG] An erroc occurred while retrieving the stream URL."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Race Control and try to Watch anything, this error message will pop up.
I have uninstalled the program and redownloaded the newest version and i get the same error

**Screenshots**
![bild](https://user-images.githubusercontent.com/102380364/160170503-4aab2dbf-daab-4e

[2022-03-25 17:28] Rhytmick commented on #389
OK i logged in & out of the client and this seemed to have fixed my issue. Even after i uninstalled the program it logged me into my account instantly.

Either way im a HUGE fan of Race Control its the best piece of software i have ever used, im SO THANKFULL FOR YOU MAKING THIS!!!!!!!! i have had 0 LAG with f1tv, whilst normal f1tv is the worst service in the world.

100/100 i LOVE this software!

[2022-03-25 17:29] #389 closed

[2022-03-25 17:31] Dimmidice opened #390 "[BUG]F1 Live channel is missing from Saudi Arabian Grand Prix"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Saudi Arabian Grand Prix'
2. Play stream 'Practice 1 or Practice 2'
3. Look at channel list
4. See no F1 Live stream.
5. It is available on the official site however.

**Expected behavior**
To see the F1 live channel same as in the Bahrain Grand Prix

**Screenshots*

[2022-03-25 17:33] Mariuss811 commented on #390
I got the same Problem.

[2022-03-25 17:37] #390 closed

[2022-03-25 18:02] robvdpol commented on #388
Seems to be fixed with ec6eac8abf4366c3a98cd9a9ce78326abe9c327f

Don't ask me why...

[2022-03-25 18:02] #388 closed

[2022-03-25 18:14] sidewinder94 commented on #385
@robvdpol It seems like squirrel is not moving much anymore because it's become quite mature.

Discord for example is using it for it's auto-updates.

IMHO, Winget would be the same category as scoop/chocolatey, needing users to interact with a command prompt to install and update (and as far as I know, Winget supports updating installed apps, but not auto-updating).

And if you selected the Winge

[2022-03-25 18:14] drag0nst0ne commented on #366
I figured it out, if I use "Speaker Fill" and use MPV player, I get comments on center channel and car sounds on side speakers. Frontal speakers remain the same, outputting both voice and engine sounds.

[2022-03-25 18:31] robvdpol commented on #385
Clowd.Squirrel seems to be the way to go since it has .NET 6 support. I'll give it a shot.

[2022-03-25 18:33] sidewinder94 commented on #385
Great! If you need help, you know how to contact me :)

[2022-03-25 20:10] SuRGeoNix commented on #335
@robvdpol Yes, that's a different issue though. Currently, it drops audio samples based on speed when ideally should use a pitch filter. I don't think that will affect the performance so I will plan to add it as well.

[2022-03-25 20:32] SuRGeoNix commented on #388
@robvdpol That's mine. Requires at least info to properly work for now. I've found the issue and I will fix it soon.

[2022-03-25 21:19] harerton commented on #382
Yes, and I have reinstalled it.

Issue also happens with portable version.

Issue still happens with 2.6.2.

Hopefully, I still can watch content using MPV.

Thanks.

On 25/03/2022 12:49, Rob wrote:

[2022-03-26 09:13] FlyingFrisian commented on #368
Well, tough times starting control. Found right software at https ://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-03-26 10:09] Rhytmick commented on #390
@robvdpol I just wanted to express my thanks, this software is fucking awesome and i really appreciate you working on it/fixing bugs.

[2022-03-26 10:52] Tanguille opened #391 "[FEATURE] Adding a schedule to the application."
**Is your feature request related to a problem? Please describe.**
When I want to follow all the sessions I have to look up when the sessions happen somewhere else. It is often confusing due to different timezones and last minute changes of schedule. It would make things a lot easier if there was some kind of countdown or schedule built-in to make sure you don't miss any sessions.

**Describe the

[2022-03-26 12:30] Qkev commented on #347
Same issue here!

[2022-03-26 13:20] Cheesebaron commented on #385
I've used Squirrel before, it was fairly easy to set up for a WPF App. I guess it is just a matter of setting up hosting for the App Updates and setting up the CI/CD pipeline to produce diffed packages.

[2022-03-26 13:28] mahejo opened #392 "[BUG] Expected Framework missing"
**Describe the bug**
Since 2.6.+ I can't run the application. It keeps asking for Framework .Net 6; also after I have installed the framework.

**Desktop (please complete the following information):**
 - Windows 11 Pro
 - System type (64 bit)
 - Version (10.0.22000 Build 22000)

**F1TV account**
- Subscription type (Pro)
- Denmark

**Additional context**
To fix it I have to uninstall Race Control

[2022-03-26 14:02] zRo-ToLeRaNcE commented on #335
Thanks for your work so far - amazing!!!

[2022-03-26 14:26] Cheesebaron opened #394 "[FEATURE] Sign application"
**Is your feature request related to a problem? Please describe.**
Installer/Application is not signed causing Windows to show a nasty dialog warning users that the Application might be malicious.

**Describe the solution you'd like**
Obtain a code signing certificate to sign the Application.

[2022-03-26 14:44] jeveli opened #395 "S button to sync [BUG]"
For me the S button will not sync all the streams, the s button take a screen shots on internal and mpv.
Using windows 11

[2022-03-26 14:49] TxaEkis opened #396 "Live International Channel not synchronized[BUG]"
**Describe the bug**
The International channel while watching Live is 5 to 6 seconds behind all other channels, doesn't matter if i close it and reopen it.

**Expected behavior**
I expected the channel to be synched like it used to be.

**Desktop (please complete the following information):**
 - Windows 10 pro 21H2
 - 64bits
 - RC 2.6.2

**F1TV account**
- Subscription type: Pro
- Country: Mexico

[2022-03-26 15:14] hangro opened #397 "[BUG] • Pit Lane channel still missing"
Hallo Rob,

**Describe the bug**
Zie titel: **Pit Lane channel** still missing.

**Desktop (please complete the following information):**
 - Windows 10 Pro 21H2
 - 64 bit

**F1TV account**
- Subscription type: Pro
- Country: NL

Dank voor je werk en je fantastische 'Race Control'.

Groet, Hans Groener

[2022-03-26 15:22] sidewinder94 commented on #392
Which exact version of the runtime have you tried installing ?

Theoretically, you'll need the [.NET Desktop Runtime 6](https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer) (links to version 6.0.3, because it's a security update,and it's the x64 version)

I don't know which version of RaceControl is included in the MSI, so you might have to inst

[2022-03-26 15:38] KNARF69 opened #398 "[BUG] feature introduced not optional: Media controls"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/robvdpol/RaceControl/issues/239
The play/pause button hook-in implemented upon this request (of the link above) is something that i don't like, since it takes over from spotify, even when race control is open, but not a player.
Could this become optional? (optional in the player, and maybe remove it from R

[2022-03-26 15:59] ericvanvoorthuizen opened #399 "[BUG]"
**Describe the bug**
When start the internal player an error occured.
HRESULT: [0x887A0005], Message: [The GPU device instance has been suspended. Use GetDeviceRemovedReason to determine the appropriate action.

**To Reproduce**
Steps to reproduce the behavior:
1. Play any stream with the Watch button
2. See RaceControl.log

**Expected behavior**
Play stream with internal player

**Screenshots**
<

[2022-03-26 16:14] Spexxel commented on #397
Sinds dit seizoen is er geen pit lane channel meer. In plaats daarvan is er nu "F1 Live"

Ik kwam onderstaande overzicht tegen:
Pitlane channel = F1 Live (F1TV commentators)
Main channel = F1 International (broadcast commentators from Sky UK and other languages)

En de omschrijving van de F1TV website:

Voor de vorige seizoenen is de pit lane nog wel gewoon beschikbaar. De fix voor de juiste weerg

[2022-03-26 16:30] beerse opened #400 "[FEATURE] Chrome Cast audio selection: No audio"
**Is your feature request related to a problem? Please describe.**
In the Netherlands, the language Dutch is not available till next summer. And there are requests to use alternate streams. Hence the audio stream 'no audio' would be nice.

**Describe the solution you'd like**
Along with the already available audio language selections, the option 'no audio' would be nice.

**Describe alternatives y

[2022-03-26 16:32] Spexxel commented on #399
Is this an issue since one of the recent updates (has it worked before) or is this the first time using Race Control?

[2022-03-26 16:44] ericvanvoorthuizen commented on #399
used RaceControl 2 weeks ago for the first time on this device with 2.6.1 and on 2.6.2 issue is also present.
Don't tested it with older versions though.

[2022-03-26 16:50] beerse opened #401 "[FEATURE] Multiple ChromeCast devices."
`**Is` your feature request related to a problem? Please describe.**
Here in house, there are more ChromeCast devices. it would be nice to adres them all from RaceControl.

**Describe the solution you'd like**
Hence the ability to adres multiple ChromeCast devices. It would be nice if they list with their name in the list of targets.
Maybe aditional: adress all chromecasts at once.

**Describe alt

[2022-03-26 17:16] martijnvankekem opened #402 "[FEATURE] Add the ability to sync all players during a live stream with the internal player"
**Is your feature request related to a problem? Please describe.**
At the moment, I can sync the streams via MPV during live streams (experimental), and I can sync the replays via the internal player. I normally watch F1 live, and I love the video player layout feature for the internal players, it's absolutely awesome when watching using 4 monitors. However, I can't seek the streams during live st

[2022-03-26 18:53] SuRGeoNix commented on #335
Tried to add also the ffmpeg filter (atempo) but it will require to include avfilter.dll which is a large size ffmpeg library and I'm not sure yet if I want to make it as a requirement just for that to be honest. I mean is it that important to have 'perfect' sound on slow/fast speeds?

[2022-03-26 18:57] gerbenp commented on #280
Works great with the normal stream aswell. Think an A/V sync offset between the 19600 - 21600 is perfect.

Now watching the qualifying with an 19600 A/V sync offset.

There you can finetune it 👍

[2022-03-26 19:03] SuRGeoNix commented on #399
It looks like a GPU(there are two of them, might uses the Intel instead of Philips)/DirectX issue. Can you provide a Flyleaf.log if you have one?

[2022-03-26 19:12] Spexxel commented on #399
There is only one GPU as far I could see in the MC.log. The philips one is the monitor

[code]

[2022-03-26 19:15] Peatote opened #403 "[BUG] "Windowed/Fullscreen" displayed at bottom of internal video player when opening layout"
**Describe the bug**
When opening an internal video player layout, "Windowed" or "Fullscreen" is stuck at the bottom of each internal video player.

**To Reproduce**
Steps to reproduce the behavior:
1. Open internal video streams.
2. Set video players in desired positions.
3. Click on "Save layout" under the Video player layout section.
4. Click on "Open internal" button under the Video player lay

[2022-03-26 19:15] SuRGeoNix commented on #399
True, my mistake. Do you have issue with other players? Can you try update your GPU drivers?

[2022-03-26 19:16] robvdpol commented on #403
Ah crap, I'll try to fix this tomorrow.

[2022-03-26 19:18] Spexxel commented on #399
If I am to believe the MC.log there are also quite a lot on Windows updates which failed to install. Might just try and update that too while you are at it

[2022-03-26 19:28] Lochtie commented on #403
For me a quick work around was to open the 'windowed' screen in fullscreen mode and then switch back to windowed for each of the 4 streams I had open.

[2022-03-26 19:30] robvdpol commented on #397
As mentioned above, the Pit Lane channel has been replaced by 'F1 Live' for the 2022 season.

[2022-03-26 19:30] #397 closed

[2022-03-26 19:37] robvdpol commented on #401
You can already do this I think.

When you've started casting to device A, you can select device B from the list and start casting to that device as well (can be a different stream or channel if you want). The stream on device A will keep going.

Or am I missing something?

[2022-03-26 19:45] ericvanvoorthuizen commented on #399
No issues with VLC, MPV players within RaceControl.

Windows is fully updated.
Windows update errors are just history when update failed for some reason.

Now installing 21H2, just to be sure.

Op za 26 mrt. 2022 20:19 schreef Khaak ***@***.***>:

[2022-03-26 20:30] Spexxel commented on #398
As a temporary workaround you should be able to use shift+media key combination in order to control a a secondary running media application

[2022-03-26 20:38] VooijsJ commented on #395
I have the same issue with the S making screenshots and Shift A changes aspect ratio instead of toggling autosync.

[2022-03-26 20:38] Bananenprofeet commented on #280
Also worked seamless for me. Great solution!

[2022-03-26 21:52] fergalt opened #404 "[BUG] Internal video player window doesn't return to its original dimensions when exiting full screen mode"
**Describe the bug**
The internal video player window doesn't return to its original dimensions when exiting full screen mode

**To Reproduce**
Steps to reproduce the behavior:
1. Open four streams in the internal video player
2. Place each stream in each of the four locations using the 2x2 layout function
3. On the Top Right window, expand to full screen using the Full Screen Toggle
4. Once this

[2022-03-26 22:37] hangro commented on #397
Dank voor jullie antwoorden. Jammer, maar helaas; niet echt een verbetering...

[2022-03-27 08:49] DaanSchuitmaker opened #405 "[BUG] F1 Live missing Saudi Grand Prix"
**Describe the bug**
During the Qualifying of the race the "F1 Live" channel was missing.

**Screenshots**
![F1-LiveBahrain](https://user-images.githubusercontent.com/50987977/160274031-436385da-75ae-4fe5-afdc-6cc5cbd52715.png)
![F1-LiveSaudi](https://user-images.githubusercontent.com/50987977/160274033-853acc24-a13a-451e-9161-da8b900d2550.png)

**Desktop (please complete the following information

[2022-03-27 08:53] DaanSchuitmaker commented on #405
Sorry did see the 2.6.2 release...

[2022-03-27 08:53] #405 closed

[2022-03-27 11:07] ericvanvoorthuizen commented on #399
On Windows 10 21H2 same issue is occuring

[2022-03-27 12:14] robvdpol commented on #403
Fixed in ca747ce58565e06e87b96eddc026e0f15dc68748

[2022-03-27 12:14] #403 closed

[2022-03-27 12:22] robvdpol commented on #392
Duplicate of #355

[2022-03-27 12:22] #392 closed

[2022-03-27 12:47] robvdpol commented on #404
Fixed in 86339acf2715ad9730d028bbf88f7e4e851e4e6f

[2022-03-27 12:47] #404 closed

[2022-03-27 12:48] robvdpol commented on #401
Please re-open if I misunderstood the request.

[2022-03-27 12:48] #401 closed

[2022-03-27 12:48] robvdpol commented on #396
That's an issue on F1TV platform, not Race Control.

[2022-03-27 12:48] #396 closed

[2022-03-27 12:49] robvdpol commented on #394
Possibly not needed when moving to Squirrel.

[2022-03-27 12:52] robvdpol commented on #304
It's right there in the Archive section?

![image](https://user-images.githubusercontent.com/56960828/160282284-330838e2-c105-4e56-976c-1c8e158502b7.png)

[2022-03-27 12:52] #304 closed

[2022-03-27 12:58] hakanhasircioglu opened #406 "[BUG] 0x887A0001"
When I try to watch something with internal player I got this error message. It says something like "Application made an invalid call. Call parameters or state of some objects were not correct."
 - Windows 8.1
 - 64 bit
 - 2.6.2

- F1TV Pro
- Turkey
- No

[2022-03-27 13:03] hakanhasircioglu commented on #395
Same

[2022-03-27 13:58] 6th-avenue commented on #335
Hi John!
Thanks for attempting to get the audio fixed on slow/fast speeds.

I like to share my thoughts on that question;

- Slow speeds ( < 1x ): if a user wants to play the video at slower than 1x speed, the most likely scenario is the user is interested in something in the video in a particular scene that goes too fast to follow. I do not believe sound is important then.

- Fast speeds ( > 1.5x

[2022-03-27 15:24] SuRGeoNix commented on #335
@6th-avenue Well Ruud, that was an impressive analysis :)
Even If I've developed the internal player I'm not much of a user to be able to understand the needs.

I've already tried to just change the sample rate but it does not sound good at all. I'm not sure if you heard it how it sounds currently, I think it's very clear (you can understand what they say) but crackly as it drops some audio sample

[2022-03-27 16:41] stevenhoekerd opened #407 "[BUG] Race Control 2.6.x not starting"
**Describe the bug**
Any Version of Race control past 2.6.0 does not start on my machine/

**To Reproduce**
Unsure of how to reproduce, no error is given.

**Desktop (please complete the following information):**
Edition	        Windows 10 Pro
Version	        21H2
Installed on	‎12/‎07/‎2021
OS build	        19044.1586
Experience	Windows Feature Experience Pack 120.2212.4170.0

**F1TV account**
F1T

[2022-03-27 17:00] Sjohn21 commented on #407
I had the same issue.
After removing Race Control, .NET 50 Desktop Runtime & .NET 6.0 Desktop Runtime I installed Race Control again.
While starting Race Control obviously requested to install .NET 6.0.3 Desktop Runtime.
After doing that, Race Control worked again.
Hope this helps.

[2022-03-27 18:18] csutcliff commented on #402
![image](https://user-images.githubusercontent.com/188845/160295036-156759f7-43d6-472f-af62-29c41ed45bf8.png)

Try the "Open in MPV" button, that does what you want.

[2022-03-27 18:34] Big-Papas commented on #395
for me the S button is doing nothing at all

[2022-03-27 18:56] stevenhoekerd commented on #407
Welp this one is totally on me, while rereading the install page i realized it specifically states you need the x64 .NET version, where as i installed the x86 version. i assume letting race control download it for you makes it automatically choose the correct version, so that is propably fixed it for you then.

Thanks for the help, it all works now!

[2022-03-27 18:56] #407 closed

[2022-03-27 18:59] chrcoluk opened #408 "[BUG] Race Control 2.6.x not starting"
**Describe the bug**
It says missing .net framework AFTER installing .net 6.0.3. Cannot start.

**To Reproduce**
Steps to reproduce the behavior:
1. Install race control 2.6.2.0
2. Start race control
3. Install .net 6 as instructed.
4. Start race control again.

**Expected behavior**
Starts

**Desktop (please complete the following information):**
Windows 10 64 bit

**F1TV account**
not relevant

[2022-03-27 19:02] chrcoluk commented on #408
![net6installed](https://user-images.githubusercontent.com/8260578/160296534-1f23097d-abcc-49c4-9abf-d499f21b5db0.png)

[2022-03-27 19:11] chrcoluk commented on #408
Ok the issue in this case is that there is two .net 6 packages, one for console and one for desktop.

So not a program bug, but maybe a documentation bug.

I suggest change "Requires .NET 6 Runtime" to "Requires .NET 6 Desktop Runtime"

I see on the release page it does say this, so just the app message box. :)

[2022-03-27 19:11] #408 closed

[2022-03-27 21:10] martijnvankekem commented on #402
The scaling of the windows for the 'Open in MPV' feature is not working correctly for me. The windows are too small.
It's possible this is due to the display scaling though. My monitors are scaled to 150%, and they seem to be 50% too small.

That's a different issue though (which might be worth looking into), but I'd still appreciate the ability to seek and sync via the internal player, simply bec

[2022-03-28 07:33] Cheesebaron commented on #394
Using a different installer won't change the fact that the App is not signed. You will still see the Windows warning dialog even using Squirrel.

So in any case, signing the App would be a much better experience for users.

[2022-03-28 07:45] robvdpol commented on #394
I'm looking into puchasing a code signing certificate, Certum seems to be the most affordable: https://shop.certum.eu/open-source-code-signing.html

They have a specific (cheap) option for open source software, but I'm not sure whether this will immediately get rid of the Windows SmartScreen warning.

[2022-03-28 09:02] jdschuitemaker commented on #394
Since you are are developer, you might already know this, still this StackOverflow article might give some insight about the Windows Smartscreen warning:

(https://stackoverflow.com/questions/48946680/how-to-avoid-the-windows-defender-smartscreen-prevented-an-unrecognized-app-fro)

[2022-03-28 15:20] chrcoluk commented on #402
+1 this feature, manually pausing feeds when I should just be watching race is a pain.

[2022-03-28 15:32] ramonsmits opened #409 "[BUG] Playing multiple streams via "Watch" results in audio stuttering"
**Describe the bug**

Playing multiple streams via "Watch" results in audio stuttering. Opening multiple streams via MPC-HC, MPV, or VLC works ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Play stream '...'
3. Press button '...'
4. See error

**Expected behavior**

Expect no stuttering.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desk

[2022-03-28 15:55] Cheesebaron commented on #394
Yeah, not on the first installation, but smart screen will be trained by the users who still accept and install the Application and eventually it will not complain anymore.

[2022-03-28 17:34] Awesome-0 opened #410 "[BUG] App crashes when switching audio device"
**Describe the bug**
The app's audio breaks when switching the audio output device in windows 10 while watching. Often the application even becomes unresponsive and has to be shut down using Task Manager.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Race' (for instance Saudi Arabian Grand Prix)
2. Play stream 'World Feed' and 'Max Verstappen' (using internal viewer)
3. While watchi

[2022-03-28 18:07] Spexxel commented on #410
I have tried reproducing this with the versions 2.5.5 and 2.6.3 but I was not able to do so.
Can you provide the RaceControl.log? Also are you switching between two wired devices or is one (or both) of them wireless?

[2022-03-29 12:18] harerton commented on #382
Hi,

I updated my video driver and now everything works again.

Thanks!

[2022-03-29 12:18] #382 closed

[2022-03-29 21:14] CLANI0 commented on #410
I have the same issue - specifically moving to or from a Bluetooth device (Pro user, US based)

[2022-03-29 21:43] fjlamain commented on #409
I have the same issue:
As soon as more than one internal player is open, audio starts to stutter. Video stream looks fine, the problem is only in audio.

Version: 2.6.3
Windows 11 Home 64 bit , 21H2, OS build 22000.593
Audio driver: HDMI Display audio driver (LG TV)

[2022-04-01 05:49] SuRGeoNix commented on #410
There is an already known bug with bluetooth speakers/headsets for the internal player (I thought by changing from NAudio to XAudio2 in Flyleaf's version 3.4 would fix it but I guess it didn't)

[2022-04-02 00:18] Chester117 opened #411 "[BUG] App won't launch on ARM Windows 11"
**Describe the bug**
App won't launch on virtualized ARM Windows 11 installed on M1 Macs with Parallels desktop.

**To Reproduce**
Steps to reproduce the behavior:
after installation, when launching the app, nothing would show up

**Expected behavior**
something to show up

**Desktop (please complete the following information):**
 - Windows 11 ARM on Parallels Desktop(Virtualized)
 - 64 bit

**F1T

[2022-04-02 12:09] sidewinder94 commented on #411
Try this : [RaceControl - ARM64.zip](https://github.com/robvdpol/RaceControl/files/8402441/RaceControl.-.ARM64.zip)

It's an ARM64 build of RaceControl.

There are a few things I suspect won't work at all since they depends on x86/x64 binaries that are not part of the compilation process (the integrated player and MPV being some of them, maybe the download option too).

[2022-04-02 12:18] sidewinder94 opened #412 "[FEATURE] Use Git LFS for versioned binaries"
**Is your feature request related to a problem? Please describe.**
The size of the repository is non trivial, especially on a first clone.

**Describe the solution you'd like**
Initialize Git LFS and mark all the binary dependencies as files that should be handled by it

**Describe alternatives you've considered**
A Custom build target to download the dependencies from their source as a pre-build

[2022-04-03 09:03] Chester117 commented on #411
Thank you very much! I've tried to launch and got this error message
![Screen Shot 2022-04-03 at 16 35 30](https://user-images.githubusercontent.com/40749115/161420172-a8bd9f38-aa66-48c4-ab0a-701822a81a01.jpg)

[2022-04-03 11:22] sidewinder94 commented on #411
Ok, so yeah, won't work without additional work from @robvdpol. Since FFmpeg is needed as soon as the app starts, and it's one of the binary dependencies.

Sorry can't do much more than that. Especially since I don't have an ARM machine to test with

[2022-04-04 21:00] anthonylavado opened #413 "[BUG] Saudi Arabia 2022 Race Session Won't Play"
**Describe the bug**
Attempting to play the race for the Saudi Arabian GP results in a garbled feed, if it plays at all. The error persists with MPV, VLC, and the built in player.

**To Reproduce**
Steps to reproduce the behavior:
1. Open RaceControl and log in.
2. Select 2022 Season, Saudi Arabian Grand Prix, and Race session.
3. Click button to watch any of the listed feeds.
4. See error, or no

[2022-04-05 07:08] robvdpol commented on #413
I was afraid this would happen sooner or later. I guess the MPD-file is needed for DRM and they are gradually implementing it. As far as I know FFMpeg does not (or can not) support DRM, so we're kind of screwed here.

One option I have been playing around with in the past is using an Edge webbrowser control that contains a VideoJS control. It seemed to work fine so I might have to look into it aga

[2022-04-05 07:39] anthonylavado commented on #413
Random spontaneous update - it seems to be working now. I'm not sure why. The DRM has been turned off and now an M3U URL is being returned.

[2022-04-07 08:26] kupet00 opened #414 ""Request failed with status code Forbidden" on start up"
**Describe the bug**
When starting the app, I get greeted by the following login screen ("Request failed with status code Forbidden"):
![f1rc](https://user-images.githubusercontent.com/40399761/162154648-f04be1af-753d-45f5-b986-e9b6e751bdbc.png)

Logging in on the official website or Android App does work with the same credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the ap

[2022-04-07 09:08] PostMalone commented on #414
I have the same issue as you. Request failed with status code Forbidden

Its happening hours before FP1 in Australia.

[2022-04-07 09:19] robvdpol commented on #414
Hmm, they might have disabled the api key we're using for the login request. We would have to check the contents of the login request from one of the official apps to see what has changed. I'm not sure how to do that unfortunately :/ Maybe someone else is able to do it. It's a bit tricky since it's of course encrypted.

[2022-04-07 09:35] sartsj commented on #414
API key seems fine, what I needed to do to make the auth request working again was adding this new euconsent cookie (not going to paste it here, not sure what it contains).

[2022-04-07 09:43] robvdpol commented on #414
@sartsj The cookie shouldn't contain private information, you could try to decode it at http://iabtcf.com/#/decode to verify. An would really like to have it so I can fix the login.

[2022-04-07 09:44] sartsj commented on #414
Specifically, the cookie is the one called 'reese84'

[2022-04-07 09:49] robvdpol commented on #414
Ah the reese84 stuff again. There used to be an exception for 'RaceControl' user agent not needing it, but apparantly they removed that exception :( They seem to be cracking down on third party tools this season.

See also https://github.com/SoMuchForSubtlety/f1viewer/issues/111

[2022-04-07 09:50] SoMuchForSubtlety commented on #414
Maybe we can send them a nice email asking to add the exception back :smile:

[2022-04-07 09:52] dhuit90 commented on #414
This cookie is associated with Imperva Networks and is used to determine if a user will receive a captcha.

[2022-04-07 09:56] dhuit90 commented on #414
https://github.com/SoMuchForSubtlety/f1viewer/issues/231#issuecomment-1091454437

This gives us some hope

[2022-04-07 10:53] dhuit90 commented on #414
@sartsj could you share your postman request? I'm having no luck logging in, even after syncing the reese84 cookie from my browser. Still get the "Pardon Our Interruption
As you were browsing something about your browser made us think you were a bot. There are a few reasons this might happen..."  403 page.

Using the correct cookie, api key, user-agent and credentials

[2022-04-07 11:04] sartsj commented on #414
@dhuit90 I'm honestly not having much luck anymore either. The only way I can get a succesfull auth request in postman now is by literally copying the one from my firefox dev console after logging in on the f1tv website.

Even if I only copy the reese84 cookie value from that request I can't get it to work anymore. I must be messing something up.

[2022-04-07 11:17] dhuit90 commented on #414
So one (very ugly) solution **_might_** be running a headless browser to get the token and use that to handle the login in RaceControl... I guess

[2022-04-07 11:21] robvdpol commented on #414
The reese84-token that you get from that request doesn't work. When I use the reese84-token from my webbrowser console it does work.

[2022-04-07 11:22] dhuit90 commented on #414
Same here unfortunately, i've been syncing the cookies from my browser (logged in to F1TV website) to postman but no luck

[2022-04-07 11:27] MueR commented on #414
This curl request will get you the required value for a reese84 cookie. Still unsure how it works though.
[code]

[2022-04-07 11:50] dhuit90 commented on #414
@flyingwraptor is the code you supplied in https://github.com/SoMuchForSubtlety/f1viewer/issues/111#issuecomment-727553895 a solution for this?

[2022-04-07 12:31] eXhumer commented on #414
I have a better solution for subscription token handling, but it requires access to an embedded web browser from which you can listen to cookie events. I used Qt's Framework in C++ to essentially listen for `login-session` session cookie for formula1.com in a Qt WebEngine after allowing a user to log in. Upon successful login, F1 will add the cookie which includes the subscription token.

https://

[2022-04-07 12:45] robvdpol commented on #414
I was thinking of doing something similar using an Edge WebView2 component. Let the user login on the official website and fetch the sessiontoken from response or cookie.

[2022-04-07 13:06] BoleMNE commented on #62
How did you end up fixing this, i still cant figure out what to do with firewall to fix this issue

[2022-04-07 13:32] eXhumer commented on #414
You can also allow manual token as temporary fix this weekend. Here is an easy way to get the current logged in session token from browser.
![image](https://user-images.githubusercontent.com/62310242/162210203-414840b2-5d3f-4785-ae0b-bef8debf0603.png)

[2022-04-07 13:58] koningcool commented on #414
Is there any easy actual working fix for this right now?

[2022-04-07 14:02] robvdpol commented on #414
Nope but I'm working on a fix. Proof of concept is ready, just need to integrate it into Race Control now. Hope I can do it tonight.

[2022-04-07 15:47] BeanXOfficial commented on #414
You're a legend, thanks for all the effort put into this project!

[2022-04-07 15:47] BeanXOfficial commented on #414
You're a legend, thanks for all the work you put into this project!

[2022-04-07 15:50] Tanguille commented on #414
Nice idea. Do you use that token instead of your password then?
Is there a way to do this via the android app? Can only log in there. In all my browsers I can't login. After some research I discovered this could be because F1TV is restricting IP-adresses to avoid account sharing. Any way I could fix this?
Answers to my questions would be much appreciated. Or if robvdpol could achieve a miracle and

[2022-04-07 16:56] thedave42 commented on #414
[This is what I'm doing as well](https://github.com/thedave42/f1tv-dl/blob/56d88e517d8b2548b367b25ef45451652cf44a3e/lib/f1tv-token.js).   I'm using Chromium and there is still a need for some extensions to get around the checks.

[2022-04-07 19:25] AtlAntA118 commented on #414
This might not be very usefull at all but i figured i might share this bit of info anyway. I can login just fine with RaceControl 2.6.3. No error message whatsoever and i can play all streams just fine.

The thing i do run on my PC is adguard with the extension called 'i dont care about cookies'. This *might* be doing something with the cookies and how they are handled.

[2022-04-07 19:38] koningcool commented on #414
Did you install i dont care about cookies as a extension in your browser?

[2022-04-07 19:42] AtlAntA118 commented on #414
No i run the desktop app of adguard and i use the 'i dont care about cookies' list there.
![image](https://user-images.githubusercontent.com/35236700/162283288-06f7c8cc-8516-419c-b5fa-ad563526abdf.png)

Im not going to pretend i know how cookies work or are being handled but i think this might make a difference opposed to a webbrowser based adblocker/cookiehandler.

[2022-04-07 19:55] anthonylavado commented on #414
@AtlAntA118 Thanks for sharing that. It might be unrelated though. It looks like if you're _already_ logged in, your session token is still valid for a little while. If that token has expired, or you sign out/in, then you run in to the issue seen here.

[2022-04-07 19:58] robvdpol commented on #414
I have a solution but when I run it in release mode it doesn't work somehow :( I have to look into it tomorrow.

[2022-04-07 19:58] eXhumer commented on #414
The "I don't care about cookies" is a browser extension / add-on. Nothing to do with application cookie handling.

[2022-04-07 21:42] SkYNewZ commented on #414
Good luck to you, thanks for your work and have a good Australian GP!

[2022-04-08 03:16] MatasVin commented on #414
cant wait for this to be fixed, i guess the web version will suffice for now

[2022-04-08 03:34] destroy-everything commented on #413
To whom it may concern **** you.
Seriously I know F1 is reading this, at least before you do this make the IOS app workable , its so terrible I will be happy if you get rid of the adaptive quality that never works even on my 10Gig connection. When I use custom players I can watch in 4k without a hitch.

[2022-04-08 05:25] Jurtaani commented on #414
i was able to login and continue using this app just fine, and the previous races from this and older seasons wor just fine.
but i did notice that i was not able to watch Australian gp fp1 live or now as a archived session.
other players stay empty but the internal one tries to load something, however that is just some pink mess with no audio.
have they changed some drm things or is this just rela

[2022-04-08 05:30] eXhumer commented on #414
I fear this isn't something any update can fix. F1 started to return Widevine'd streams for anything that was live or moved into archive recently.

[2022-04-08 05:32] PostMalone commented on #414
This is becoming hell... F1tv is not messing around anymore. They only want to achieve one goal and that is to prevent any 3rd party tools running

[2022-04-08 06:14] robvdpol commented on #414
Ok, this will require some more work. It basically means abandoning the Flyleaf video library and replacing it with an Edge WebView2 browser control that runs VideoJS. I have messed around with this in the past, and it should be able to support Widevine DRM. But it will take some time to implement, so please be patient.

[2022-04-08 06:22] Creativesz commented on #413
Uh-Oh, the DRM seems to be back for the Australian race. I'm unable to watch via RaceControl and get a black screen with glitches.

[2022-04-08 06:23] aeleos commented on #414
Take your time, and thanks for all of the work you do

[2022-04-08 06:29] scns commented on #414
Hope you can find a fix, and tnx for all the work you do.  It's an amazing tool!

[2022-04-08 06:30] scns commented on #414
Hope you can find a fix, and tnx for all the work you do. It's an amazing tool!

[2022-04-08 06:44] MatasVin commented on #414
Is there a chance to fix this issue before the australian gp race session?

[2022-04-08 07:13] Jurtaani commented on #414
Fingers crossed that this doesn't make the great performance of the current method go away.
i mean i can easily ran the four streams layout on the archived races without my laptop fans even noticing anything.
but soon as i go and put up two browsers to at least get the F1live+one driver camera layout.
it makes my laptop fans go crazy.

[2022-04-08 07:15] MTrintignant opened #416 "[BUG] missing .NET frameworks"
**Describe the bug**
Having installed the latest version (2.6.3) i receive an error message "To run this application, you must install missing frameworks for .NET. Would you like to download it now?"

I have clicked yes and downloaded and installed the .NET version from the link (Microsoft .NET runtime 6.0.3 x64). This installed correctly, and is shown under Apps.

However, Race Control still show

[2022-04-08 07:20] dhuit90 commented on #416
You need the desktop framework: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-desktop-6.0.3-windows-x64-installer

[2022-04-08 07:26] hangro commented on #414
Succes Rob, and try to enjoy the Australian GP...

[2022-04-08 07:34] MueR commented on #414
Get in touch with F1TV Support and complain (politely) about the changes to this DRM. Maybe, just maybe, they'll think about it again, or give 3rd party developers like Rob a headsup for the next change.

Rob, thanks for your hard work man.